@black:#333333;
@yellow:#FFCF40;
@red:#CF3A3A;
@green:#4FA64D;
@azure:#26BABF;
@btn-bcg:#ECD8B9;
@bcg:#F9F5E6;
@bcg-review:#ECC5C6;
@bcg-grey:#E4EDE7;
@rose-light:#DC937C;
@fb:#9CB2F9;
@insta:#F795D0;
@bcg-rose:#FAF3EF;
@bcg-modal:#FFD9D9;
@back:#FFECB8;