//============ Секция Почему родители нас выбирают ============
section.benefits
	.container
		h2.title-2 Почему родители нас выбирают
		.wrapper
			.row
				.col-md-6.col-xl-3
					+card-info(1,'men','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')(class='dark-bg')

				.col-md-6.col-xl-3
					+card-info(2,'eating','Шестиразовое питание','Собственная профессиональная кухня. Индивидуальное меню. Без глютена и с минимумом сахара','О здоровом питании','Без полуфабрикатов')
				.col-md-6.col-xl-3
					+card-info(3,'doctor','Свой врач-педиатр','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О медицинском обсуживании')
				.col-md-6.col-xl-3
					+card-info(4,'star','Уникальное обучение','Чередуем физическую и умственную активность в играх и групповой деятельности','О системе обучения')(class='big-icon')
				.col-md-6.col-xl-3
					+card-info(5,'sleep','Здоровый сон','Кровати из натурального дерева с ортопедическими матрасами. Не принуждаем ко сну','О важности сна')

				.col-md-6.col-xl-3
					+card-info(6,'hand','Работаем с 7:30 до 22:00','Для удобства родителей работают как группы полного и короткого дня, так и дежурные группы','О правильном распорядке дня')(class='green-card')
				.col-md-6.col-xl-3
					+card-info(7,'sun','Температурный режим','Поддерживаем постоянную температуру +19–22 °C и влажность 50–70% во всех помещениях','Об оптимизации атмосферы')
				.col-md-6.col-xl-3
					+card-info(8,'baby','Ясли от 1 года и 2 месяцев','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О заботе о малышах')

//============ Конец Секции Почему родители нас выбирают ============

//============ Карточка Полезное шестиразовое питание ============
section.benefit-description
	.container
		.title-group
			h3.title-3 Полезное шестиразовое питание
			.badge.badge--light Свернуть
		.heading-text.text-30 Питание имеет две основные цели — восполнение затраченной энергии, которая расходуется на&nbsp;активное движение, игры, занятия спортом, а также обеспечение организма достаточным количеством витаминов и минералов. Аппетит зависит от двигательной активности, исходя из этого, мы никогда не заставляем ребёнка есть, а стараемся уделять много времени прогулкам и активным играм
		.wrapper
			.row
				.col-xl-8
					.text-block
						p Сад оснащен пищеблоком с профессиональным оборудованием, меню разработано диетологом и педиатром, питание сбалансировано и разнообразно. Продукты заказываем у проверенных поставщиков Москвы и области
						p В меню отсутствуют полуфабрикаты, используется только цельнозерновая мука, гипоаллергенное мясо (индейка, говядина, кролик) и минимальное количество соли и сахара.
				.col-xl-4 
					.text-block
						.title-1 2/6
						p Кормим детей шесть раз в день<br>при полном дне обучения,<br>и два раза — при коротком           
				.col-xl-8
					.text-block
						h4.text-28 Каши и супы
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
				.col-xl-8
					.text-block
						h4.text-28 Компоты и морсы
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.
				.col-xl-8
					.text-block
						h4.text-28 Свежие фрукты и овощи
						p Предлагаем детям свежие фрукты и овощи вместе с каждым приёмом пищи. Летом в меню добавляются свежие ягоды (голубика, малина, вишня, смородина), а зимой — сухофрукты (изюм, курага, чернослив), тем самым исключая перекусы.
					.text-block
						h4.text-28.badge-inner Полезные десерты
							.badge.badge-azure Без глютена
						p Составленное нашими работниками меню полностью гипоалергенно. В рационе отсутствуют конфеты, пакетированные соки, творожки, полуфабрикаты, мы отдаём предпочтение здоровым и полезным десертам. Все полдники готовятся нашими поварами из цельнозерновой муки: печенья, пироги, булочки, блины, оладьи.
				.col-xl-4
					.text-block
						img(src='img/emoji/pie.png', height='200px' width='201px' alt='pie')
						p Ко дню рождения каждого ребенка<br>готовим фруктовый пирог<br>с малым содержанием сахара						
				.col-xl-8
					.text-block.text-block--white
						h4.text-28 Индивидуальное меню
						p Все дети разные: что хорошо для одного, другому может не подойти. Если у ребенка непереносимости определенных продуктов наш диетолог и педиатр составляет индивидуальное меню, исключающее некоторые виды продуктов и блюд, или замещающее их.	
				.col-xl-8
					.text-block
						h4.text-28 А если ребенок не хочет есть?
						p Дети есть дети, и кушать могут просто не хотеть, но есть секрет — аппетит зависит от двигательной активности и по мере ее увеличения он заметно улучшается.
						p Исходя из этого принципа, мы никогда не заставляем ребенка есть. Вместо этого проводим с детьми минимум 3 часа в день на прогулках (даже в зимнее время), занимаем их интересными развивающими играми и проводим спортивные соревнования.
						p Такое времяпрепровождение эффективно сказывается на обмене веществ детского организма и способствует формированию хорошего здорового аппетита		
				.col-xl-4
					.text-block
						p Аппетит зависит от двигательной активности, поэтому мы никогда не заставляем ребёнка есть, а уделяем много времени прогулкам и активным играм
					.brand-logo
						+brand-a
//============ Конец Карточки Полезное шестиразовое питание ============

//============ Карточка Распорядок дня ============
section.benefit-description
	.container
		.title-group
			h3.title-3 Продуманный распорядок дня
			.badge.badge--light Свернуть
		.heading-text.text-30 Разрабатывая расписание детского сада, мы ориентировались на принципы современного воспитания и поддержания здоровья дошкольников. При этом сделать все возможное, чтобы было удобно работающим родителя, которые ограничены жестким графиком
		.wrapper
			.row
				.col-xl-8
					.text-block
						p Сад оснащен пищеблоком с профессиональным оборудованием, меню разработано диетологом и педиатром, питание сбалансировано и разнообразно. Продукты заказываем у проверенных поставщиков Москвы и области.
						p В меню отсутствуют полуфабрикаты, используется только цельнозерновая мука, гипоаллергенное мясо (индейка, говядина, кролик) и минимальное количество соли и сахара.
				.col-xl-4 
					.text-block
						p Дежурная группа принимает<br>детей ежедневно
						.title-1 с 7:30		                
				.col-xl-8
					.text-block
						h4.text-28 07:30 — 08:00 Дежурная группа
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
				.col-xl-8
					.text-block
						h4.text-28 08:00 — 08:30 Прием детей
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.
				.col-xl-8
					.text-block
						h4.text-28 08:30 - 09:00 Водные процедуры, зарядка
						p Предлагаем детям свежие фрукты и овощи вместе с каждым приёмом пищи. Летом в меню добавляются свежие ягоды (голубика, малина, вишня, смородина), а зимой — сухофрукты (изюм, курага, чернослив), тем самым исключая перекусы.
				.col-xl-8
					.text-block
						h4.text-28 09:00 — 09:20 Завтрак
						p Составленное нашими работниками меню полностью гипоалергенно. В рационе отсутствуют конфеты, пакетированные соки, творожки, полуфабрикаты, мы отдаём предпочтение здоровым и полезным десертам.
				.col-xl-4
					.text-block
						img(src="img/emoji/tear.svg", height='75px' width='45px' alt="emoji")
						p В обязательном порядке соблюдается<br>питьевой режим, как во время основных<br>приёмов пищи, так и в течение дня	
				.col-xl-8
					.text-block
						h4.text-28 09:20 — 10:20 Занятия
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
				.col-xl-8
					.text-block.text-block--white
						h4.text-28 10:20 — 12:30 Прогулка
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.	
				.col-xl-8
					.text-block
						h4.text-28 12:30 — 13:00 Обед
						p Предлагаем детям свежие фрукты и овощи вместе с каждым приёмом пищи. Летом в меню добавляются свежие ягоды (голубика, малина, вишня, смородина), а зимой — сухофрукты (изюм, курага, чернослив), тем самым исключая перекусы.
				.col-xl-8
					.text-block
						h4.text-28 13:00 — 15:00 Тихий час
						p Составленное нашими работниками меню полностью гипоалергенно. В рационе отсутствуют конфеты, пакетированные соки, творожки, полуфабрикаты, мы отдаём предпочтение здоровым и полезным десертам.	
				.col-xl-4
					.text-block
						img(src="img/emoji/sleep.svg", height='70px' width='70px' alt="emoji")
						p Дети засыпают под чтение сказок<br>воспитателем или слушая классическую<br>музыку, например, Моцарта
				.col-xl-8
					.text-block
						h4.text-28 15:00 — 15:30 Полдник
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
				.col-xl-8
					.text-block.text-block--white
						h4.text-28 15:30 — 16:30 Занятия
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.	
				.col-xl-8
					.text-block
						h4.text-28 16:30 — 18:00 Прогулка
						p Предлагаем детям свежие фрукты и овощи вместе с каждым приёмом пищи. Летом в меню добавляются свежие ягоды (голубика, малина, вишня, смородина), а зимой — сухофрукты (изюм, курага, чернослив), тем самым исключая перекусы.
				.col-xl-8
					.text-block
						h4.text-28 18:00 — 18:30 Ужин
						p Составленное нашими работниками меню полностью гипоалергенно. В рационе отсутствуют конфеты, пакетированные соки, творожки, полуфабрикаты, мы отдаём предпочтение здоровым и полезным десертам.
				.col-xl-8
					.text-block
						h4.text-28 18:30 — 20:00 Игры или Прогулка
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
						h4.text-28 20:00 — 22:00 Дежурная группа
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.
				.col-xl-4
					.text-block
						p Прогулка на свежем воздухе<br>и активные игры обеспечивают детям<br>хороший аппетит и крепкий сон
					.brand-logo
						+brand-p
//============ Конец Карточки Распорядок дня ============