//============ Секция Почему мы ============
section.benefits
    .container
        h2.title-2 Почему родители нас выбирают
        .wrapper
            .row
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')(class='dark-bg')

                .col-md-6.col-xl-3
                    +card-info('eating','Шестиразовое питание','Собственная профессиональная кухня. Индивидуальное меню. Без глютена и с минимумом сахара','О здоровом питании','Без полуфабрикатов')
                .col-md-6.col-xl-3
                    +card-info('doctor','Свой врач-педиатр','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О медицинском обсуживании')
                .col-md-6.col-xl-3
                    +card-info('star','Уникальное обучение','Чередуем физическую и умственную активность в играх и групповой деятельности','О системе обучения')(class='big-icon')
                .col-md-6.col-xl-3
                    +card-info('sleep','Здоровый сон','Кровати из натурального дерева с ортопедическими матрасами. Не принуждаем ко сну','О важности сна')

                .col-md-6.col-xl-3
                    +card-info('hand','Работаем с 7:30 до 22:00','Для удобства родителей работают как группы полного и короткого дня, так и дежурные группы','О правильном распорядке дня')(class='green-card')
                .col-md-6.col-xl-3
                    +card-info('sun','Температурный режим','Поддерживаем постоянную температуру +19–22 °C и влажность 50–70% во всех помещениях','Об оптимизации атмосферы')
                .col-md-6.col-xl-3
                    +card-info('baby','Ясли от 1 года и 2 месяцев','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О заботе о малышах')

//============ Конец Секции Почему мы ============

