//============ Секция Почему мы ============
section.benefits
    .container
        h2.title-2 Почему родители нас выбирают
        .wrapper
            .row
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')

                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')

                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')
                .col-md-6.col-xl-3
                    +card-info('man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')

//============ Конец Секции Почему мы ============

