//============ Секция Почему родители нас выбирают ============
section.benefits
	.container
		h2.title-2 Почему родители нас выбирают
		.wrapper
			.row
				.col-md-6.col-xl-3
					+card-info(1,'man','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')(class='dark-bg')

				.col-md-6.col-xl-3
					+card-info(2,'eating','Шестиразовое питание','Собственная профессиональная кухня. Индивидуальное меню. Без глютена и с минимумом сахара','О здоровом питании','Без полуфабрикатов')
				.col-md-6.col-xl-3
					+card-info(3,'doctor','Свой врач-педиатр','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О медицинском обсуживании')
				.col-md-6.col-xl-3
					+card-info(4,'star','Уникальное обучение','Чередуем физическую и умственную активность в играх и групповой деятельности','О системе обучения')(class='big-icon')
				.col-md-6.col-xl-3
					+card-info(5,'sleep','Здоровый сон','Кровати из натурального дерева с ортопедическими матрасами. Не принуждаем ко сну','О важности сна')

				.col-md-6.col-xl-3
					+card-info(6,'hand','Работаем с 7:30 до 22:00','Для удобства родителей работают как группы полного и короткого дня, так и дежурные группы','О правильном распорядке дня')(class='green-card')
				.col-md-6.col-xl-3
					+card-info(7,'sun','Температурный режим','Поддерживаем постоянную температуру +19–22 °C и влажность 50–70% во всех помещениях','Об оптимизации атмосферы')
				.col-md-6.col-xl-3
					+card-info(8,'baby','Ясли от 1 года и 2 месяцев','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О заботе о малышах')

//============ Конец Секции Почему родители нас выбирают ============


//============ Секция Карточки Почему родители нас выбирают ============
section.benefit-description
	.container
		h3.title-3 Полезное шестиразовое питание
		.badge.badge--close
		.text-30 Питание имеет две основные цели — восполнение затраченной энергии, которая расходуется на активное движение, игры, занятия спортом, а также обеспечение организма достаточным количеством витаминов и минералов. Аппетит зависит от двигательной активности, исходя из этого, мы никогда не заставляем ребёнка есть, а стараемся уделять много времени прогулкам и активным играм
		.wrapper
			.row
				.col-xl-8
					.text-block
						p Сад оснащен пищеблоком с профессиональным оборудованием, меню разработано диетологом и педиатром, питание сбалансировано и разнообразно. Продукты заказываем у проверенных поставщиков Москвы и области
						p В меню отсутствуют полуфабрикаты, используется только цельнозерновая мука, гипоаллергенное мясо (индейка, говядина, кролик) и минимальное количество соли и сахара.
				.col-xl-4 
					.text-block
						.title-1 2/6
						p Кормим детей шесть раз в день при полном дне обучения, и два раза — при коротком    
				.col-xl-8
					.text-block
						p В меню отсутствуют полуфабрикаты, используется только цельнозерновая мука, гипоаллергенное мясо (индейка, говядина, кролик) и минимальное количество соли и сахара.            
				.col-xl-8
					.text-block
						h4.text-28 Каши и супы
						p Детям до трёх лёт повара могут готовить каши без молока. Сахар используется по минимуму. Супы варят непосредственно перед обедом, не подвергая повторному разогреву.
				.col-xl-8
					.text-block
						h4.text-28 Компоты и морсы
						p Уделяем большое внимание питьевому режиму ребёнка. Чистая питьевая вода предлагается детям каждый час. В меню входят чай, кефир, натуральные морсы и компоты из фруктов, ягод и сухофруктов с минимальным содержанием сахара.
