//============ Секция Почему родители нас выбирают ============
section.benefits.section-retreat
	include _video-presentation.pug
	.container
		h2.title-2 Почему родители нас выбирают
		.wrapper
			.benefits-group.drop-wrapper
				.benefits-cards
					.row
						.col-md-6.col-xl-3
							+card-info(1,'men','24-х часовая охрана','Своя огороженная площадка для&nbsp;прогулок. Система пропусков и камеры видеонаблюдения','О системе безопасности')(class='dark-bg')

						.col-md-6.col-xl-3
							+card-info(2,'eating','Шестиразовое питание','Собственная профессиональная кухня. Индивидуальное меню. Без глютена и с минимумом сахара','О здоровом питании','Без полуфабрикатов')
						.col-md-6.col-xl-3
							+card-info(3,'doc','Свой врач-педиатр','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О медицинском обсуживании')
						.col-md-6.col-xl-3
							+card-info(4,'star','Уникальное обучение','Чередуем физическую и умственную активность в играх и групповой деятельности','О системе обучения')(class='big-icon')
				//============ Страницы с описанием карточек ============
				.benefits-card-pages
					+benefitDesk_1(2)(class=" benefit-article_2")
					+benefitDesk_2(4)(class=" benefit-article_4")
			
			//============ Второй ряд карточек карточек ============
			.benefits-group.drop-wrapper
				.benefits-cards
					.row
						.col-md-6.col-xl-3
							+card-info(5,'sleep','Здоровый сон','Кровати из натурального дерева с ортопедическими матрасами. Не принуждаем ко сну','О важности сна')

						.col-md-6.col-xl-3
							+card-info(6,'hand','Работаем с 7:30 до 22:00','Для удобства родителей работают как группы полного и короткого дня, так и дежурные группы','О правильном распорядке дня')(class='green-card')
						.col-md-6.col-xl-3
							+card-info(7,'sun','Температурный режим','Поддерживаем постоянную температуру +19–22 °C и влажность 50–70% во всех помещениях','Об оптимизации атмосферы')
						.col-md-6.col-xl-3
							+card-info(8,'baby','Ясли от 1 года и 2 месяцев','Проводит оздоровительные мероприятия, следит за здоровьем детей и консультирует родителей','О заботе о малышах')
				.benefits-card-pages
					+benefitDesk_1(5)(class=" benefit-article_1")
					+benefitDesk_2(7)(class=" benefit-article_3")
		.benefits-footer.section-quote
			.decor-img
				+quoteBig
			.section-quote__text.text-40
				p Методика воспитания в детском саду, режим дня, расписание игр и занятий продуманы таким образом, чтобы чередовать физическую и умственную активность, #[span а также поддерживать интерес детей к совместной деятельности]
			.section-quote__author
				.quote__author-img
					img.lazy(data-src="img/avatar/ava_doc.jpg" srcset="img/avatar/ava_doc@2x.jpg 2x" data-srcset="img/avatar/ava_doc@2x.jpg 2x" alt="photo")
				.quote__author-info.text-20
					p Ирина Григорьевна Чепенко
					p
						span Врач-педиатр «Champion Park», 29 лет опыта работы 

//============ Конец Секции Почему родители нас выбирают ============


