section.educational-complex
	.container
		.title-group
			h1.section-title Образовательный комплекс
			button.button-light на карте
		.educational-menu
			nav
				a(href="#") Концепция
				a(href="#") Галерея
				a(href="#") Отзывы
				a(href="#") Интервью с выпускниками
				a(href="#") Концепция 
				a(href="#") Концепция
				a(href="#") Концепция
				a(href="#") Концепция
				a(href="#") Концепция