//- HEADER
header.header
	.header-img
		img(src="img/header/child.png", alt="image")
	.container--large
		.header-nav
			+logo
			//- menu
			.header-menu.text-14
				ul
					li
						a(href="#") Школы
					li.active
						a(href="#") Детские сады
					li
						a(href="#") Образовательный комплекс
			.contacts.text-28
				a(href="tel:+74957960504") 8 (495) 796-05-04
			
			.header-buttons
				+eye
				+gamburger
		.header-text
			h2.badge Частный детский сад
			h1.title-1 Champion Park
			.text-22
				p Укрепляем здоровье и психологический комфорт детей, развиваем интеллект и социальные навыки.
				p  Собственная кухня, врач-педиатр, логопед и психолог
		button.button Записаться на бесплатный пробный день
