section.mysadik
	.container
		h2.title-2.mb-40 Детский сад «My SADIK Champion Park» 
		.main-text.mb-40  Ребенок подрос, и вы готовы выйти на работу? Приводите его в детский сад «My SADIK Champion Park». В своей работе мы организуем пространство для развития детей так, чтобы иммунитет укреплялся, здоровье приумножалось, а интерес к познанию возрастал.
		.mysadik-desk
			.row
				.col-xl-8
					.mysadik-desk__text
						p Все это становится возможным, благодаря увлажнению помещений, определенному температурному режиму, полезному питанию из качественных продуктов, особому режиму дня. Мы много гуляем в любую погоду, весело играем, все занятия сообразно возрасту и по времени и по нагрузки. Для нас важно для детей создавать интересную, познавательную среду, чтобы совместно с воспитателями малыш с удовольствием познавал и развивался.
						p Как отмечают педагоги, социологи, медики и психологи, лучшее место для малыша — частный садик. Ведь никакие няни не заменят общение со сверстниками, а в государственном учреждении может не учитываться личность ребенка. 
						p В нашем детском саду ребята учатся:
							ul
								li  общаться друг с другом, 
								li учитывать мнение окружающих, 
								li озвучивать свою позицию, 
								li находить компромиссы, 
								li и быть самостоятельными.
						
				
				.col-xl-8
					.mysadik-desk__text
						p Обстановка здесь больше всего приближена к модели общества. Воспитаннику садика в школе, институте или на работе не придется испытывать стресс из-за недопонимания с окружающими людьми.
						p Некоторые думают: там, где много детей, выше шанс заразиться. Наш сад развеет это заблуждение, ведь в большой степени на здоровье организма влияет режим дня и условия окружающей среды. У нас все продумано до мелочей. Приглашаем в первый частный сад, который ориентирован на здоровье ребенка.
						.comb-text
							p Ждем вас по адресу: 
							p Москва, Мичуринский проспект, Олимпийская Деревня, д. 1, к. 2
							a(href="#!").button.button-light.show-map-modal смотреть на карте
				
				//МИНИ СЛАЙДЕР С КАРТОЧКАМИ
				.col-xl-3.offset-xl-1
					.mini-slider-wrapper
						.mini-slider.owl-carousel
							.slide-wrapper
								.mini-slider-item.mini-slider-item_1
									a(href="#!").badge Галерея
									.mini-slider__img
										picture
											img(src="img/mini-slider/1.jpg", srcset="img/mini-slider/1@2x.png 2x" alt="slider" )
									.mini-slider__body
										.text-group--small
											span Праздник Весны 2020
											span  20 марта 2020

										.mini-slider__desk
											p Подготовили родителям весенний танец, пели песни, рассказывали стихи и дарили поделки
											span Смотреть 28 фото
						
							.slide-wrapper
								.mini-slider-item.mini-slider-item_2
									.decor-img
										+quoteBig
									.mini-slider__bloquote.text-20
										p Мне нравилась математика в детском саду, мы занимались по специальным тетрадям и на доске решали примеры, задачки. Сейчас эти знания мне очень помогают на уроках математики в школе
									.mini-slider__link
										a(href="#!") Читать полное интервью
									.section-quote__author.section-quote--small
										.quote__author-img
											picture
												img(src="img/avatar/avatar_slider.jpg" srcset="img/avatar/avatar_slider@2x.jpg 2x" alt="photo")
										.quote__author-info.text-14
											p Илья Кириллов
											p Выпускник «Сhampion Park»
							.slide-wrapper
								.mini-slider-item.mini-slider-item_1
									.mini-slider__img
										picture
											img(src="img/mini-slider/1.jpg" srcset="img/mini-slider/1@2x.jpg 2x" alt="img")
									.mini-slider__body
										.text-group--small
											span Праздник Весны 2021
											span  20 марта 2020

										.mini-slider__desk
											p Подготовили родителям весенний танец, пели песни, рассказывали стихи и дарили поделки
											span Смотреть 28 фото
				//МИНИ СЛАЙДЕР С КАРТОЧКАМИ
				