//============ Cекция Стоимость обучения ============
section.price
	.container
		.heading-price
			h2.title-2 Стоимость обучения
			.heading-price__info.title-2
				p 1 &mdash; 7 #[span лет]
				p ПН &mdash; ПТ
		.card-price__wrapper
			.row
				.col-xl-4
					.card-price.dark-bg
						.card-label Рекомендуем
						h4.text-40 Пробная неделя
						.text-head
							.text-20 7:30 &mdash; 22:00
							.text-20 6-разовое питание
						.text-body
							.big-text 18 000
								span.rub &#8381;
							button.button.h-50.button-color Записаться
				.col-xl-4
					.card-price
						h4.text-40 Короткий день
						.text-head
							.text-20 8:00 &mdash; 13:00 или 15:00 &mdash; 20:00
							.text-20 2-разовое питание
						.text-body
							.big-text 45 000
								span.rub &#8381;
								span.text-28 /месяц
							button.button.h-50 Записаться
				.col-xl-4
					.card-price
						h4.text-40 Полный день
						.text-head
							.text-20 7:30 &mdash; 22:00
							.text-20 6-разовое питание
						.text-body
							.big-text 65 000
								span.rub &#8381;
								span.text-28 /месяц
							button.button.h-50 Записаться

		.heading-info
			h2.title-3 В стоимость входят
		.wrapper
			.row
				.col-xl-3
					.text-block.text-block__border
						.text-20 Психолог
						.text-desription
							p Помогает детям адаптироваться к саду, следит за развитием когнитивных способностей, регулирует психологическую атмосферу в гпуппах
							span О задачах психолога
				.col-xl-3
					.text-block
						.text-20 Логопед
						.text-desription
							p Проводит занятия с детьми с 3-х лет. Следит за развитием речи и&nbsp;помогает&nbsp;исправить возможные недостатки в игровой форме
							span О развитии речи
				.col-xl-3
					.text-block
						.text-20 Фотограф
						.text-desription
							p Фотографирует занятия, выездные мероприятия, прогулки, утренники, праздники и Дни рождения. Фотографии доступны в личном кабинете родителя
							span О штатном фотографе
				.col-xl-3
					.text-block
						.text-block__icon
							img(src="img/emoji/doctor.svg", alt="doctor")
						.text-20 Педиатр
						.text-desription
							p Проводит оздоровительные мероприятия, следит за здоровьем детей и персонала. Консультирует родителей и дает рекомендации по лечению
							span О медицинском обслуживании
				.col-xl-3
					.text-block
						.text-20 2- или 6-разовое питание
						.text-desription
							p Собственная профессиональная кухня. Индивидуальное меню. Без глютена и полуфабрикатов. Продукты покупаем у проверенных поставщиков
							span О здоровом питании
				.col-xl-3
					.text-block.text-block--white
						.text-20 Экскурсии и мероприятия
						.text-desription
							p Регулярно ходим на экскурсии, посещаем музеи, театры, Планетарий и Парк Горького. Ездим на метро или собственном автобусе
							span О познании мира вокруг
				.col-xl-3
					.text-block
						.text-20 Походы в парки
						.text-desription
							p Ходим на прогулки в парки Трубецких, Останкино, Олимпийской деревни. Детей сопровождают два воспитателя. Берем зонты, если прогнозируют дождь
							span О безопасности на прогулках
				.col-xl-3
					.text-block
						.text-20 Прогулки на свежем воздухе
						.text-desription
							p Два раза по часу каждый день, в любую погоду, на собственной огороженной игровой площадке. Есть качели, карусель, горка и игровой городок
							span О пользе регулярных прогулок
				.col-xl-3
					.text-block
						.text-20 Занятия по системе Монтессори
						.text-desription
							p Развивают органы чувств, внимание, память и мышление. Учат быть самостоятельными, формировать и ощущать личные границы
							span О методе Монтессори
					.logo-block
						.brand-logo
							span М
				.col-xl-3
					.text-block
						.text-20 Развитие речи
						.text-desription
							p Помогаем развить связную и грамматически оформленную речь и интеллектуальную деятельность. Расширяем словарный запас
							span О методе Монтессори
				.col-xl-3
					.text-block
						.text-20 Физкультурно- оздоровительные занятия
						.text-desription
							p Развивают скорость, силу, выносливость и координацию. Повышается интерес к спорту. Укрепляют здоровье и формируют навык работоспособности
							span О воспитании в формате игры
				.col-xl-3
					.text-block
						.text-20 Развивающие игры
						.text-desription
							p Знакомят с новыми понятиями, учат категоризировать и помогают преодолевают естественные возрастные ограничения восприятия
							span О воспитании в формате игры


