//============ Cекция Стоимость обучения ============
section.price
	.container
		.heading-price
			h2.title-2 Стоимость обучения
			.heading-price__info
				h2.age.title-2 1 — 7 лет
				h2.weekday.title-2 ПН — ПТ
			.row-line
		.wrapper
			.row
				.col-xl-4
					.card-price.dark-bg
						h4.text-40 Пробная неделя
						.text-head
							.text-20 7:30 — 22:00
							.text-20 6-разовое питание
						.text-body
							.title-2 18 000 
							.btn Записаться
				.col-xl-4
					.card-price.dark-bg
						h4.text-40 Пробная неделя
						.text-head
							.text-20 7:30 — 22:00
							.text-20 6-разовое питание
						.text-body
							.title-2 18 000	
							.btn Записаться
				.col-xl-4
					.card-price.dark-bg
						h4.text-40 Пробная неделя
						.text-head
							.text-20 7:30 — 22:00
							.text-20 6-разовое питание
						.text-body
							.title-2 18 000
							.btn Записаться			
				