//============ Cекция Стоимость обучения ============
section.price.section-retreat
	.container
		.heading-price
			h2.title-2 Стоимость обучения
			.heading-price__info
				p.text-40 1 &mdash; 7 #[span лет]
				p.text-40 ПН &mdash; ПТ
		.card-price__wrapper
			.row
				.col-xl-4
					.card-price.dark-bg
						.card-label Рекомендуем
						h4.text-40 Пробная неделя
						.text-head
							.text-20 7:30 &mdash; 22:00
							.text-20 6-разовое питание
						.text-body
							.big-text 18 000
								span.rub &#8381;
							button.button.h-50.button-color Записаться
				.col-xl-4
					.card-price
						h4.text-40 Короткий день
						.text-head
							.text-20 8:00 &mdash; 13:00 или 15:00 &mdash; 20:00
							.text-20 2-разовое питание
						.text-body
							.big-text 45 000
								span.rub &#8381;
								span.text-28 /месяц
							button.button.h-50 Записаться
				.col-xl-4
					.card-price
						h4.text-40 Полный день
						.text-head
							.text-20 7:30 &mdash; 22:00
							.text-20 6-разовое питание
						.text-body
							.big-text 65 000
								span.rub &#8381;
								span.text-28 /месяц
							button.button.h-50 Записаться

		.heading-info
			h2.title-3 В стоимость входят
		.card-team__wrapper
			.row
				.col-xl-3
					.text-block.text-block__border
						.text-20 Психолог
						.text-desription
							p Помогает детям адаптироваться к саду,</br>следит за развитием когнитивных способностей, регулирует психологическую атмосферу в гпуппах
							p О задачах психолога
				.col-xl-3
					.text-block
						.text-20 Логопед
						.text-desription
							p Проводит занятия с детьми с 3-х лет. Следит за развитием речи</br>и помогает исправить возможные недостатки в игровой форме
							p О развитии речи
				.col-xl-3
					.text-block
						.text-20 Фотограф
						.text-desription
							p <span class="let-sp">Фотографирует занятия, выездные мероприятия, прогулки, утренники, праздники и Дни рождения. Фотографии</span> доступны в личном кабинете родителя
							p О штатном фотографе
				.col-xl-3
					.text-block
						.text-block__icon
							img(src="img/emoji/doc.png" alt="doctor")
						.text-20 Педиатр
						.text-desription
							p Проводит оздоровительные <span class="let-sp">мероприятия, следит за здоровьем детей</span> и персонала. Консультирует родителей и дает рекомендации по лечению
							p О медицинском обслуживании
				.col-xl-3
					.text-block
						.text-20 2- или 6-разовое питание
						.text-desription
							p Собственная профессиональная кухня. <span class="let-sp">Индивидуальное меню. Без глютена</span> и&nbsp;полуфабрикатов. Продукты покупаем у проверенных поставщиков
							p О здоровом питании
				.col-xl-3
					.text-block.text-block--white
						.text-20 Экскурсии и мероприятия
						.text-desription
							p <span class="let-sp">Регулярно ходим на экскурсии,</span> посещаем&nbsp;музеи, театры, Планетарий и&nbsp;Парк Горького. Ездим на метро или&nbsp;собственном автобусе
							p О познании мира вокруг
				.col-xl-3
					.text-block
						.text-20 Походы в парки
						.text-desription
							p Ходим на прогулки в парки Трубецких, Останкино, Олимпийской деревни. Детей сопровождают два воспитателя. <span class="let-sp">Берем зонты, если прогнозируют дождь</span>
							p О безопасности на прогулках
				.col-xl-3
					.text-block
						.text-20 Прогулки на свежем воздухе
						.text-desription
							p <span class="let-sp">Два раза по часу каждый день, в любую</span> погоду, на собственной огороженной игровой площадке. Есть качели, карусель, горка и игровой городок
							p О пользе регулярных прогулок
				.col-xl-3
					.text-block
						.text-20 Занятия по системе Монтессори
						.text-desription
							p Развивают органы чувств, внимание, память и мышление. Учат быть самостоятельными, формировать и&nbsp;ощущать личные границы
							p О методе Монтессори
					.symbol.symbol_m М
				.col-xl-3
					.text-block
						.text-20 Развитие речи
						.text-desription
							p Помогаем развить связную и&nbsp;грамматически оформленную речь и&nbsp;интеллектуальную деятельность. Расширяем словарный запас
							p О методе Монтессори
				.col-xl-3
					.text-block
						.text-20 Физкультурно- оздоровительные занятия
						.text-desription
							p <span class="let-sp">Развивают скорость, силу, выносливость</span> и&nbsp;координацию. Повышается интерес к&nbsp;спорту. <span class="let-sp">Укрепляют здоровье и&nbsp;формируют навык работоспособности</span>
							p О воспитании в формате игры
				.col-xl-3
					.text-block
						.text-20 Развивающие игры
						.text-desription
							p Знакомят с новыми понятиями, учат&nbsp;категоризировать и помогают преодолевают естественные возрастные ограничения восприятия
							p О воспитании в формате игры

		// СКРЫТЫЕ ДОП УСЛУГИ
		.card-team__wrapper.wrapper-hide#otherServiceCards
			.row
				.col-xl-3
					.text-block
						.text-20 Ритмопластика
						.text-desription
							p <span class="let-sp">Развиваем чувство ритма, музыкального</span> слуха и вкуса. Формируем умение правильно и красиво двигаться. Укрепляем мышцы и осанку
							p О пользе ритмопластики
				.col-xl-3
					.text-block
						.text-20 Творческие занятия
						.text-desription
							p Учат выражать свою индивидуальность через рисунок, лепку, аппликацию или&nbsp;конструирование. Развивают художественные навыки и умения
							p О выражении себя через творчество
				.col-xl-3
					.text-block
						.text-20 Музыка
						.text-desription
							p Учим различать высоту и громкость звуков, танцевать в такт с музыкой, петь песни, различать и называть музыкальные инструменты
							p О музыкально-ритмических занятиях
				.col-xl-3
					.text-block
						.text-20 Окружающий мир
						.text-desription
							p Учим объяснять окружающий мир <span class="let-sp">и&nbsp;устанавливать причинно-следственные</span> связи в природе. Развиваем умение <span class="let-sp">проводить обобщения и делать выводы</span>
							p О позитивном отношении к миру
				.col-xl-3
					.text-block
						.text-20 Грамота
						.text-desription
							p Учим говорить и слушать. Готовим <span class="let-sp">дошкольников к овладению грамотным</span> чтением и письмом на русском языке. Развиваем интерес и внимание к речи
							p Об изучении родного языка
				.col-xl-3
					.text-block
						.text-20 Английский язык
						.text-desription
							p Проводим занятия в игровой форме. Учим позитивно реагировать на&nbsp;иностранную речь. Формируем <span class="let-sp">базовые навыки чтения и произношения</span>
							p О билингвальном воспитании
				.col-xl-3
					.text-block
						.text-20 Математика
						.text-desription
							p Учим считать в пределах 10, устанавливать взаимосвязь между&nbsp;частью и целым и решать математические задачи
							p О логико-математических играх
				.col-xl-3
					.text-block
						.text-20 Художественная литература
						.text-desription
							p Развиваем интерес к литературе, формируем базовые навыки чтения, учим делать простые выводы из&nbsp;прочитанного
							p О любви к чтению
				.col-xl-3
					.text-block
						.text-20 Хореография
						.text-desription
							p Учим танцевать по одному и в парах, <span class="let-sp">сохранять правильную осанку, двигаться</span> выразительно и контролировать поведение и выступление
							p О воспитании в танце
				.col-xl-3
					.text-block
						.text-20 Восточные единоборства
						.text-desription
							p <span class="let-sp">Проводим занятия в игровой форме как</span> для мальчиков, так и для девочек. <span class="let-sp">Учим контролировать тело, формировать</span> и чувствовать личные границы
							p О дзюдо для дошкольников
		// КОНЕЦ  СКРЫТЫЕ ДОП УСЛУГИ
		.section-button
			a(href="#!").button.button-brown.h-70#btnShowServ Показать все, что входит в стоимость	