//============ Cекция О детях заботятся ============
section.team
    .container
        h2.title-2 О детях заботятся
        .wrapper
            .row
                .col-md-6.col-xl-3
                    +card-team('team1','Антонина Захарова','Руководитель','','corona')(class='dark-bg')
                .col-md-6.col-xl-3
                    +card-team('team2','Ирина Григорьевна Чепенко','Врач-педиатр','','cross')(class='card-team--cross')
                .col-md-6.col-xl-3
                    +card-team('team3','Юлия Хащук','Методист','магистр')(class='card-team--label')
                .col-md-6.col-xl-3
                    +card-team('team4','Георгий Саман','Тренер по восточным единоборствам')
                .col-md-6.col-xl-3
                    +card-team('team5','Юлия Занина','Воспитатель')
                .col-md-6.col-xl-3
                    +card-team('team6','Денис Кацалап','Тренер по шахматам')
                .col-md-6.col-xl-3
                    +card-team('team7','Анастасия Иванова','Руководитель')(class='card-team--bg')
                .col-md-6.col-xl-3
                    +card-team('team8','Светлана Зверева','Воспитатель')
        .quote-block
            .quote-block__img
                img(src='img/avatar/av3.jpg' alt='avatar')
            .quote-block__text
                .quote-decor
                    i.fas.fa-quote-left
                .text-paragraf
                    p У дочки легко прошла адаптация, через месяц перешли на полный<br>день. Ей очень нравится,<br> очень приятная атмосфера, <br>домой не хочет уходить
                .quote-author
                    span  Вера Рахимова
                    span  18 марта 2020

//============ Конец Секции О детях заботятся ============