//============ Cекция О детях заботятся ============
section.team.section-offset
	.container
		h2.title-2 О детях заботятся
		.wrapper
			.team-group.drop-wrapper
				.team-group__cards
					.row
						.col-md-6.col-xl-3
							+card-team(1,'team1','Антонина Захарова','Руководитель','','corona')(class='dark-bg')
						.col-md-6.col-xl-3
							+card-team(2,'team2','Ирина Григорьевна Чепенко','Врач-педиатр','','cross')(class='card-team--cross')
						.col-md-6.col-xl-3
							+card-team(3,'team3','Юлия Хащук','Методист','магистр')(class='card-team--label clicked-item')
						.col-md-6.col-xl-3
							+card-team(4,'team4','Георгий Саман','Тренер по восточным единоборствам')

				.team-group__pages
					article.team-description.team-description_2(data-index="3")
						.close-desk.button-light Свернуть
						.container
							h3.title-3 Юлия Хащук
							.title-group__position.text-20
								span Методист
							.wrapper
								.row
									.col-xl-8
										.inner-text
											.main-text.mb-20
												p Методист — как режиссер в театре. Разработка занятий, сценариев, программ — методист отвечает за все, что делает пребывание ребенка в детском саду интересным, познавательным и развивающим.
											.text-20
												p Курирует работу воспитателей и других педагогических работников (музыкального руководителя, логопеда, психолога), проверяет планы воспитательной работы, составляет расписания занятий, обязательных и факультативных.
												p Подготавливает проведения занятий, посещает их и анализирует эффективность образовательного процесса. Внедряет нововведения в сфере образования, разъясняет непонятные моменты, проводит индивидуальную работу с воспитателями.
												p Отвечает за повышение квалификации воспитателей, подбирает для них семинары и учебные курсы, а также рекомендует к участию в педагогических конференциях
												.comb-text
													p Высшее психолого-педагогическое образование, 2006 — 2010
													p МПГУ им. Ленина по специальности педагог-психолог в оразовательной деятельности
												.comb-text
													p Повышение квалификации
													p МПГУ им. Ленина, магистр психологии и педагогики раннего развития
												.comb-text
													p Педагогический конкурс, 2016
													p Участвовала в педагогическом марафоне «Первый открытый фестиваль семьи Никитиных», выступала с лекцией на тему педагогики раннего развития для детей 1—3 лет
									.col-xl-4
										.inner-column
											.team-description__img
												picture
													img(src="img/avatar/av1.jpg" srcset="img/avatar/av1@2x.jpg 2x" alt="avatar" width="205")
											.team-description__doc
												.doc-img
													picture
														img(src="img/team/diplom.png" srcset="img/team/diplom@2x.png 2x" alt="diplom")
												span Лауреат премии по поддержке талантливой молодежи, 2013
			.team-group.drop-wrapper
				.team-group__cards
					.row
						.col-md-6.col-xl-3
							+card-team(5,'team5','Юлия Занина','Воспитатель')
						.col-md-6.col-xl-3
							+card-team(6,'team6','Денис Кацалап','Тренер по шахматам')
						.col-md-6.col-xl-3
							+card-team(7,'team7','Анастасия Иванова','Руководитель')(class='card-team--bg')
						.col-md-6.col-xl-3
							+card-team(8,'team8','Светлана Зверева','Воспитатель')
				.team-group__pages
					article.team-description.team-description_1(data-index="5")
						.close-desk.button-light Свернуть
						.container
							h3.title-3 Юлия Хащук
							.title-group__position.text-20
								span Методист
							.wrapper
								.row
									.col-xl-8
										.inner-text
											.main-text.mb-20
												p Методист — как режиссер в театре. Разработка занятий, сценариев, программ — методист отвечает за все, что делает пребывание ребенка в детском саду интересным, познавательным и развивающим.
											.text-20
												p Курирует работу воспитателей и других педагогических работников (музыкального руководителя, логопеда, психолога), проверяет планы воспитательной работы, составляет расписания занятий, обязательных и факультативных.
												p Подготавливает проведения занятий, посещает их и анализирует эффективность образовательного процесса. Внедряет нововведения в сфере образования, разъясняет непонятные моменты, проводит индивидуальную работу с воспитателями.
												p Отвечает за повышение квалификации воспитателей, подбирает для них семинары и учебные курсы, а также рекомендует к участию в педагогических конференциях
												.comb-text
													p Высшее психолого-педагогическое образование, 2006 — 2010
													p МПГУ им. Ленина по специальности педагог-психолог в оразовательной деятельности
												.comb-text
													p Повышение квалификации
													p МПГУ им. Ленина, магистр психологии и педагогики раннего развития
												.comb-text
													p Педагогический конкурс, 2016
													p Участвовала в педагогическом марафоне «Первый открытый фестиваль семьи Никитиных», выступала с лекцией на тему педагогики раннего развития для детей 1—3 лет
									.col-xl-4
										.inner-column
											.team-description__img
												picture
													img(src="img/avatar/av1.jpg" srcset="img/avatar/av1@2x.jpg 2x" alt="avatar" width="205")
											.team-description__doc
												.doc-img
													picture
														img(src="img/team/diplom.png" srcset="img/team/diplom@2x.png 2x" alt="diplom")
												span Лауреат премии по поддержке талантливой молодежи, 2013


		// Блок с карточками скрытых сотрудников
		.wrapper.wrapper-hide#otherTeamCards
			.team-group.drop-wrapper
				.team-group__cards
					.row
						.col-md-6.col-xl-3
							+card-team(1,'team1','Антонина Захарова','Руководитель','','corona')(class='dark-bg')
						.col-md-6.col-xl-3
							+card-team(2,'team2','Ирина Григорьевна Чепенко','Врач-педиатр','','cross')(class='card-team--cross')
						.col-md-6.col-xl-3
							+card-team(3,'team3','Юлия Хащук','Методист','магистр')(class='card-team--label clicked-item')
						.col-md-6.col-xl-3
							+card-team(4,'team4','Георгий Саман','Тренер по восточным единоборствам')

				.team-group__pages
					article.team-description(data-index="3")
						.close-desk.button-light Свернуть
						.container
							h3.title-3 Юлия Хащук
							.title-group__position.text-20
								span Методист
							.wrapper
								.row
									.col-xl-8
										.inner-text
											.main-text.mb-20
												p Методист — как режиссер в театре. Разработка занятий, сценариев, программ — методист отвечает за все, что делает пребывание ребенка в детском саду интересным, познавательным и развивающим.
											.text-20
												p Курирует работу воспитателей и других педагогических работников (музыкального руководителя, логопеда, психолога), проверяет планы воспитательной работы, составляет расписания занятий, обязательных и факультативных.
												p Подготавливает проведения занятий, посещает их и анализирует эффективность образовательного процесса. Внедряет нововведения в сфере образования, разъясняет непонятные моменты, проводит индивидуальную работу с воспитателями.
												p Отвечает за повышение квалификации воспитателей, подбирает для них семинары и учебные курсы, а также рекомендует к участию в педагогических конференциях
												.comb-text
													p Высшее психолого-педагогическое образование, 2006 — 2010
													p МПГУ им. Ленина по специальности педагог-психолог в оразовательной деятельности
												.comb-text
													p Повышение квалификации
													p МПГУ им. Ленина, магистр психологии и педагогики раннего развития
												.comb-text
													p Педагогический конкурс, 2016
													p Участвовала в педагогическом марафоне «Первый открытый фестиваль семьи Никитиных», выступала с лекцией на тему педагогики раннего развития для детей 1—3 лет
									.col-xl-4
										.inner-column
											.team-description__img
												picture
													img(src="img/avatar/av1.jpg" srcset="img/avatar/av1@2x.jpg 2x" alt="avatar" width='205')
											.team-description__doc
												.doc-img
													picture
														img(src="img/team/diplom.png" srcset="img/team/diplom@2x.png 2x" alt="diplom")
												span Лауреат премии по поддержке талантливой молодежи, 2013
		// КОНЕЦ  Блок с карточками скрырх сотрудников

		.section-button
			a(href="#!").button.button-brown.h-70#btnShowTeam Показать всех сотрудников
		.quote-block
			.brand-logo
				+brand-logo
			.quote-block__img
				picture
					img(src='img/avatar/Rosa.png' srcset="img/avatar/Rosa@2x.png 2x" alt='avatar')
			.quote-block__text
				.quote-decor
					+quote
				.text-paragraf.text-40
					p Настоящее сокровище — это увлеченная<br>команда профессионалов, наградой<br>за ежедневный труд которых,<br>являются счастливые дети и родители 
				.quote-author
					span  Роза Саргсян
					span  Управляющая общеобразовательным<br>комплексом «Дари Детям Добро»

//============ Конец Секции О детях заботятся ============

//============ Карточка Сотрудника ============


