//============ Cекция О детях заботятся ============
section.team
    .container
        h2.title-2 О детях заботятся
        .wrapper
            .row
                .col-md-6.col-xl-3
                    +card-team('team1','Антонина Захарова','Руководитель','','corona')(class='dark-bg')
                .col-md-6.col-xl-3
                    +card-team('team2','Ирина Григорьевна Чепенко','Врач-педиатр')
                .col-md-6.col-xl-3
                    +card-team('team3','Юлия Хащук','Методист')
                .col-md-6.col-xl-3
                    +card-team('team4','Георгий Саман','Тренер по восточным единоборствам')
                .col-md-6.col-xl-3
                    +card-team('team5','Юлия Занина','Воспитатель')
                .col-md-6.col-xl-3
                    +card-team('team6','Денис Кацалап','Тренер по шахматам')
                .col-md-6.col-xl-3
                    +card-team('team7','Анастасия Иванова','Руководитель')
                .col-md-6.col-xl-3
                    +card-team('team8','Светлана Зверева','Воспитатель')

//============ Конец Секции О детях заботятся ============