section.timetable
	.container
		.timetable-top
			h2.titile-2 Расписание
			nav.age-nav
				button.active(data-age="1")
					span.age-value 6 &mdash; 7
					span.age-text лет
				button(data-age="2")
					span.age-value 5 &mdash; 6
					span.age-text лет
				button(data-age="3")
					span.age-value 4 &mdash; 5
					span.age-text лет
				button(data-age="4")
					span.age-value 3 &mdash; 4
					span.age-text лет
				button(data-age="5")
					span.age-value 2 &mdash; 3
					span.age-text лет
				button(data-age="6")
					span.age-value 1 &mdash; 2
					span.age-text лет
		.timetable-wrapper
			.timetable-header
				.table-row-group.table-row-group--day
					.table-cell
						span ПН
					.table-cell
						span ВТ
					.table-cell
						span СР
					.table-cell
						span ЧТ
					.table-cell
						span ПТ
			//============ КОНТЕНТ РАСПИСАНИЯ 7-6 ЛЕТ ============
			.timetable-body.active(data-age="1")
				//============ ЖЕЛТЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ============
				.timetable-block.timetable-block--yellow
					.timetable-grid
						// первый ряд ячеек
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Физическая культура
								.table-cell(data-index="dance_1")
									span Хореография
									span.cell-img
										img(src="img/emoji/ballet.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Физическая культура
								.table-cell
									span Дзюдо
								.table-cell(data-index="dance_2")
									span Хореография
									span.info-icon
										+info
							// вырадающее описание для первого ряда
							.table-row-description
								.timetable-article.timetable-article--dance(data-index="dance_1")
									.close-desk.button-light Свернуть
									h3.title-3 Хореография-2
									.desk-content
										.row
											.col-xl-8
												.text-block
													.bold-text.text-22
														p Хореография — это одновременно танцы, спорт и отличное хобби. Дети учатся чувствовать и понимать классическую музыку, развивают слух, осанку и чувство равновесия. Укрепляют опорно-двигательный аппарат, сердечно-сосудистую, дыхательную и нервную системы.
													.text-20
														p Танцевальные упражнения проходят в игровой форме, приводятся различные сказочные сравнения. Дети с удовольствием вовлекаются в игровой процесс, развивают не только тело, но и фантазию.
														p Занятия проходят по специально разработанной методике, включат в себя элементы балета, партерной гимнастики, хореографии, музыкальной ритмики, свободной пластики и упражнений на развитие фантазии и пространственного воображения.
														p У детей формируются правильная осанка, чувство ритма, музыкальность, выразительность и фигура. Улучшается координация, повышается общий тонус и настроение. Снимаются психологические и физические зажимы, прививаются умение вести себя в обществе и дисциплина.
													.text-20
											.col-xl-4
												.photo-block
													.round-img
														img(src="img/avatar/dance-teacher.png", alt="photo")
													h4.title-4 Диана Кудзоева
													p  Педагог-хореограф «Champion Park»
										
											.col-xl-8
												.desk-result
													.text-20 
														p В результате занятий ребенок научится:
													ul
														li Двигаться в соответствии с характером музыки в заданном темпе; 
														li Выполнять движения по одному и в парах;
														li Сохранять правильную осанку, двигаться свободно и выразительно;
														li Знать и выполнять комплекс танцевально-ритмических упражнений;
														li Строиться в круг, сужать его и расширять; 
														li Знать и выполнять элементы русского эстрадного танца; 
														li Уметь выполнять ритмические рисунки руками и ногами;
														li Самостоятельно контролировать свое поведение и выступление 
											.col-xl-4
												.additional-text.text-20
													.lesson-icon
														img(src="img/emoji/ballet2.png", alt="img")
													p В программу уроков в обязательном порядке входит растяжка. Дети учатся делать шпагат и тянуть носок, развивают гибкость спины
														   
								.timetable-article(data-index="dance_2")
									.close-desk.badge Свернуть
									h3.title-3 Хореография
									.desk-content
										.row
											.col-xl-8
												.text-block
													.bold-text.text-22
														p Хореография — это одновременно танцы, спорт и отличное хобби. Дети учатся чувствовать и понимать классическую музыку, развивают слух, осанку и чувство равновесия. Укрепляют опорно-двигательный аппарат, сердечно-сосудистую, дыхательную и нервную системы.
													.text-20
														p Танцевальные упражнения проходят в игровой форме, приводятся различные сказочные сравнения. Дети с удовольствием вовлекаются в игровой процесс, развивают не только тело, но и фантазию.
														p Занятия проходят по специально разработанной методике, включат в себя элементы балета, партерной гимнастики, хореографии, музыкальной ритмики, свободной пластики и упражнений на развитие фантазии и пространственного воображения.
														p У детей формируются правильная осанка, чувство ритма, музыкальность, выразительность и фигура. Улучшается координация, повышается общий тонус и настроение. Снимаются психологические и физические зажимы, прививаются умение вести себя в обществе и дисциплина.
													.text-20
											.col-xl-4
												.photo-block
													.round-img
														img(src="img/avatar/dance-teacher.png", alt="photo")
													h4.title-4 Диана Кудзоева
													p  Педагог-хореограф «Champion Park»
										
											.col-xl-8
												.desk-result
													.text-20 
														p В результате занятий ребенок научится:
													ul
														li Двигаться в соответствии с характером музыки в заданном темпе; 
														li Выполнять движения по одному и в парах;
														li Сохранять правильную осанку, двигаться свободно и выразительно;
														li Знать и выполнять комплекс танцевально-ритмических упражнений;
														li Строиться в круг, сужать его и расширять; 
														li Знать и выполнять элементы русского эстрадного танца; 
														li Уметь выполнять ритмические рисунки руками и ногами;
														li Самостоятельно контролировать свое поведение и выступление 
											.col-xl-4
												.additional-text.text-20
													.lesson-icon
														img(src="img/emoji/ballet2.png", alt="img")
													p В программу уроков в обязательном порядке входит растяжка. Дети учатся делать шпагат и тянуть носок, развивают гибкость спины
							
						// второй ряд 
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Музыка
									span.cell-img
										img(src="img/emoji/piano.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Подготовка к школе
								.table-cell
									span Английский язык
								.table-cell
									span Подготовка к школе
								.table-cell
									span Музыка
									span.info-icon
										+info
						// третий ряд
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Английский язык
								.table-cell
									span Развивающее занятие с логопедом
								.table-cell
									span Математический<br> интенсив
									span.cell-img
										img(src="img/emoji/calc.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Ораторское<br>мастерство
									span.cell-img
										img(src="img/emoji/mic.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Английский язык
						// четвертый ряд
						.timetable-grid-item
							.table-row-group
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell
									span Оздоровительная гимнастика
					.table-col
						p 8:00 &mdash; 13:00
				
				//============ РОЗОВЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ============
				.timetable-block.timetable-block--sleep
					.timetable-grid
						.timetable-grid-item
							.table-row-group
								.cell-img
									img(src="img/emoji/sleep.svg", alt="img")
								.table-cell
									span 13:00 &mdash; 15:00
								.table-cell
									span Тихий час
					
				
				//============ ЗЕЛЕНЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ===========
				.timetable-block.timetable-block--green
					.timetable-grid
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Художественное творчество
								.table-cell
									span Дзюдо
								.table-cell
									span Подготовка к школе
								.table-cell
									span Литературное<br>чтение
									.cell-img
										img(src="img/emoji/book.svg", alt="img")
									span.info-icon
										+info
								.table-cell(data-index="dance_2")
									span Шахматы
									.cell-img
										img(src="img/emoji/chess.svg", alt="img")
									span.info-icon
										+info
							.table-row-description
								.timetable-article(data-index="dance_1")
									.close-desk.badge Свернуть
									h3.title-3 Хореография
									.desk-content
										.row
											.col-xl-8
												.bold-text.text-22.
													Хореография — это одновременно танцы, спорт и отличное хобби. Дети учатся чувствовать и понимать классическую музыку, развивают слух, осанку и чувство равновесия. Укрепляют опорно-двигательный аппарат, сердечно-сосудистую, дыхательную и нервную системы.

									
								.timetable-article(data-index="dance_2")
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.									
							
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Компьютерная<br>грамотность 
									span.cell-img
										img(src="img/emoji/comp.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Физическая культура
								.table-cell
									span Финансовая<br>грамотность
									.cell-img
										img(src="img/emoji/wallet.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Разговорный<br>английский
									.cell-img
										img(src="img/emoji/flag.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Подготовка к школе
									
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Подготовка к школе
								.table-cell
									span Разговорный<br>английский
									span.info-icon
										+info
								.table-cell
									span Литературное чтение
									span.info-icon
										+info
								.table-cell
									span Развивающее занятие с психологом
								.table-cell
									span Художественное творчество
						
					.table-col
						p 15:00 &mdash; 20:00
			
			
			//============ КОНТЕНТ РАСПИСАНИЯ 5-6 ЛЕТ ============
			.timetable-body(data-age="2")
				.timetable-block
					.timetable-grid
						.table-row-group
							.table-cell
								span Физическая культура2
							.table-cell(data-index="dance")
								span Хореография2
							.table-cell
								span Хореография2
							.table-cell
								span Хореография2
							.table-cell
								span Хореография2	