section.timetable
    .container
        .timetable-top
            h2.title-2 Расписание
            .fix-wrapper--nav
                nav.age-nav
                    button.active(data-age="1")
                        span.age-value 6 &mdash; 7
                        span.age-text лет
                    button(data-age="2")
                        span.age-value 5 &mdash; 6
                        span.age-text лет
                    button(data-age="3")
                        span.age-value 4 &mdash; 5
                        span.age-text лет
                    button(data-age="4")
                        span.age-value 3 &mdash; 4
                        span.age-text лет
                    button(data-age="5")
                        span.age-value 2 &mdash; 3
                        span.age-text лет
                    button(data-age="6")
                        span.age-value 1 &mdash; 2
                        span.age-text лет
        