section.timetable
	.container
		.timetable-top
			h2.titile-2 Расписание
			nav.age-nav
				button.active(data-age="1")
					span.age-value 6 &mdash; 7
					span.age-text лет
				button(data-age="2")
					span.age-value 5 &mdash; 6
					span.age-text лет
				button(data-age="3")
					span.age-value 4 &mdash; 5
					span.age-text лет
				button(data-age="4")
					span.age-value 3 &mdash; 4
					span.age-text лет
				button(data-age="5")
					span.age-value 2 &mdash; 3
					span.age-text лет
				button(data-age="6")
					span.age-value 1 &mdash; 2
					span.age-text лет
		.timetable-wrapper
			.timetable-header
				.table-row-group.table-row-group--day
					.table-cell
						span ПН
					.table-cell
						span ВТ
					.table-cell
						span СР
					.table-cell
						span ЧТ
					.table-cell
						span ПТ
			//============ КОНТЕНТ РАСПИСАНИЯ 7-6 ЛЕТ ============
			.timetable-body.active(data-age="1")
				//============ ЖЕЛТЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ============
				.timetable-block.timetable-block--yellow
					.timetable-grid
						// первый ряд ячеек
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Физическая культура
								.table-cell(data-index="dance_1")
									span Хореография
									span.cell-img
										img(src="img/emoji/ballet.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Физическая культура
								.table-cell
									span Дзюдо
								.table-cell(data-index="dance_2")
									span Хореография
									span.info-icon
										+info
							// вырадающее описание для первого ряда
							.table-row-description
								.timetable-article(data-index="dance_1")
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
								.timetable-article(data-index="dance_2")
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
							
						// второй ряд 
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Музыка
									span.cell-img
										img(src="img/emoji/piano.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Подготовка к школе
								.table-cell
									span Английский язык
								.table-cell
									span Подготовка к школе
								.table-cell
									span Музыка
									span.info-icon
										+info
						// третий ряд
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Английский язык
								.table-cell
									span Развивающее занятие с логопедом
								.table-cell
									span Математический<br> интенсив
									span.cell-img
										img(src="img/emoji/calc.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Ораторское<br>мастерство
									span.cell-img
										img(src="img/emoji/mic.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Английский язык
						// четвертый ряд
						.timetable-grid-item
							.table-row-group
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell.disable
									
								.table-cell
									span Оздоровительная гимнастика
					.table-col
						p 8:00 &mdash; 13:00
				
				//============ РОЗОВЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ============
				.timetable-block.timetable-block--sleep
					.timetable-grid
						.timetable-grid-item
							.table-row-group
								.cell-img
									img(src="img/emoji/sleep.svg", alt="img")
								.table-cell
									span 13:00 &mdash; 15:00
								.table-cell
									span Тихий час
					
				
				//============ ЗЕЛЕНЫЕ ЯЧЕЙКИ РАСПИСАНИЯ ===========
				.timetable-block.timetable-block--green
					.timetable-grid
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Художественное творчество
								.table-cell
									span Дзюдо
								.table-cell
									span Подготовка к школе
								.table-cell
									span Литературное<br>чтение
									.cell-img
										img(src="img/emoji/book.svg", alt="img")
									span.info-icon
										+info
								.table-cell(data-index="dance_2")
									span Шахматы
									.cell-img
										img(src="img/emoji/chess.svg", alt="img")
									span.info-icon
										+info
							.table-row-description
								.timetable-article(data-index="dance_1")
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.
									
								.timetable-article(data-index="dance_2")
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam itaque officiis suscipit, incidunt impedit velit eveniet magnam blanditiis nemo sapiente tempora a sint. Sed eaque necessitatibus quisquam beatae expedita.									
							
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Компьютерная<br>грамотность 
									span.cell-img
										img(src="img/emoji/comp.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Физическая культура
								.table-cell
									span Финансовая<br>грамотность
									.cell-img
										img(src="img/emoji/wallet.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Разговорный<br>английский
									.cell-img
										img(src="img/emoji/flag.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Подготовка к школе
									
						.timetable-grid-item
							.table-row-group
								.table-cell
									span Подготовка к школе
								.table-cell
									span Разговорный<br>английский
									span.info-icon
										+info
								.table-cell
									span Литературное чтение
									span.info-icon
										+info
								.table-cell
									span Развивающее занятие с психологом
									span.cell-img
										img(src="img/emoji/mic.svg", alt="img")
									span.info-icon
										+info
								.table-cell
									span Художественное творчество
						
					.table-col
						p 15:00 &mdash; 20:00
			
			
			//============ КОНТЕНТ РАСПИСАНИЯ 5-6 ЛЕТ ============
			.timetable-body(data-age="2")
				.timetable-block
					.timetable-grid
						.table-row-group
							.table-cell
								span Физическая культура2
							.table-cell(data-index="dance")
								span Хореография2
							.table-cell
								span Хореография2
							.table-cell
								span Хореография2
							.table-cell
								span Хореография2	