.container
    h2 Карточка блока Почему
    .card-info
        .card-info__icon
            img(src='img/emoji/man.png' alt='emoji' width='55')
        .card-info__text
            h4.title-4 24-х часовая охрана
            p Своя огороженная площадка для прогулок. Система пропусков и камеры видеонаблюдения
            p О системе безопасности