//============ Секция Родители говорят ============
section.video-review
	.container
		h2.title-2 Родители говорят
		.video-review__wrapper
			//============видео-отзыв============
			.video-review__item
				.video-review__text
					.quote-decor
						i.fas.fa-quote-left
					.text-paragraf
						p У дочки легко прошла адаптация, через месяц перешли на полный<br>день. Ей очень нравится,<br> очень приятная атмосфера, <br>домой не хочет уходить
					.quote-author
						span  Вера Рахимова
						span  18 марта 2020
				.video-review__frame
					img(src="img/video/video2.jpg", alt="video-poster")

			//============видео-отзыв============
			.video-review__item
				.video-review__text
					.quote-decor
						i.fas.fa-quote-left
					.text-paragraf
						p Уже несколько лет я отдаю своих детей в надежные руки коллектива «MySadik».
						p Детей учат творчеству, их вывозят за пределы детского сада и показывают им мир, который существует вокруг
					.quote-author
						span  Ксения Тихомирова
						span  6 Февраля 2020
				.video-review__frame
					img(src="img/video/video3.jpg", alt="video-poster")

//============ Конец Секция Родители говорят ============