.educational-complex {
	background: #F9F5E6;
	padding-top: 60px;
	padding-bottom: 54px;

	.title-group {
		margin-bottom: 16px;
	}
}

.educational-menu {
	a:hover {
		color: @red;
	}

	a {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
		.tr;

		&+a {
			margin-left: 30px;
		}

	}
}