.educ-complex {
	padding-top: 80px;
	padding-bottom: 40px;
	position: relative;

	.button--visual {
		margin-top: 60px;
	}

	.title-group {
		margin-bottom: 13px;
	}

	.educ-img {
		@media(max-width:1364px) {
			width: 320px;
			top: -3%;
		}
	}
}