.mysadik {
	padding-top: 100px;
	padding-bottom: 160px;
	background-color: #fff;
}

.mysadik-desk__text {
	p {
		font-family: @fc;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.2;

		&+p {
			margin-top: 30px;
		}
	}

	li {
		padding-left: 20px;
		font-family: @fc;
		font-weight: 400;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.9;
	}

	ul {
		margin-top: 5px;
		margin-bottom: 36px;
	}

	.comb-text {
		margin-top: 30px;
	}
}

.mini-slider {
	.mini-slider-item {
		width: 300px;
		height: 410px;
	}

	.mini-slider__img {
		// width: 0%;
		// height: 200px;
		// background-size: cover;
		// background-position: center;
		// background-repeat: no-repeat;
	}
}