.timetable {
	padding-top: 100px;
	background-color: #fff;
}

.timetable-top {
	display: flex;
	justify-content: space-between;
}

.age-nav {
	display: inline-flex;
	background: #F3F3F3;
	border-radius: 10px;
	padding: 4px;

	button {
		cursor: pointer;
		background-color: transparent;
		padding-left: 34px;
		padding-right: 34px;
		font-size: 20px;
		height: 50px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			span {
				color: @red;
			}
		}

	}

	.age-text {
		display: none;
	}

	button.active {
		background-color: @yellow;

		.age-text {
			display: block;
			padding-left: 5px;
		}

	}
}


.timetable-grid {
	max-width: 1180px;
	width: 91.5%;

	.table-cell span {
		.text-16;
	}

	.table-cell {
		width: 18.6%;
		max-width: 220px;
		padding-left: 20px;
		height: 80px;
		display: flex;
		align-items: center;
		background-color: #FFF3D1;
		border-radius: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		border: 1px solid transparent;
		position: relative;

		&:hover {
			border: 1px solid @red;

			.info-icon path {
				fill: @red;
			}
		}

		&.active {
			background-color: transparent;
			border-color: @black;

			.info-icon {
				opacity: 0;
			}
		}

		.info-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 1;
		}

		.cell-img {
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 10px;
		}
	}
}

.table-row-group.table-row-group--day {
	display: flex;
	justify-content: space-between;
	max-width: 1180px;

	.table-cell {
		background-color: #fff;
		width: 18.6%;
		max-width: 220px;

		span {
			font-size: 40px;
			line-height: 52px;
			letter-spacing: 0.1em;
		}
	}
}

.timetable-block {
	display: flex;
	align-items: flex-start;

	.table-col {
		writing-mode: vertical-rl;

		p {
			font-size: 40px;
			line-height: 52px;
			letter-spacing: 0.01em;
		}
	}
}

.timetable-block.timetable-block--sleep {
	margin-bottom: 10px;

	.table-cell {
		background-color: #FAF3EF;
		margin-bottom: 0;

		span {
			.text-28;
		}
	}

	.table-row-group {
		justify-content: flex-start;
		background-color: #FAF3EF;
		position: relative;
		border-radius: 10px;
		overflow: hidden;

		.cell-img {
			position: absolute;
			bottom: -12px;
			right: 80px;
		}
	}
}

.timetable-block.timetable-block--green {
	.table-cell {
		background-color: #E4EDE7;
	}
}

.table-row-group {
	display: flex;
	justify-content: space-between;
}

.timetable-body,
.timetable-article {
	display: none;
}

.timetable-body.active,
.timetable-article.active {
	display: block;
}