//============ Секция Видеопрезентация ============
.video-presentasion{
	padding-top: 100px;
	padding-bottom: 128px;
}
.video-presentasion__frame{
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	border: 2px solid transparent;
	transition: .5s;
	.play-button{
		position: absolute;
		width: 198px;
		left: 38px;
		bottom: 40px;
		z-index: 2;
	}
	.badge{
		position: absolute;
		top: 35px;
		left: 50px;
		z-index: 2;
	}
	&:hover{
		border: 2px solid #CF3A3A;
	}

}
.video-presentasion__text{
	position: absolute;
	right: 55px;
	bottom: 60px;
	z-index: 2;
	width: 50%;
	max-width: 570px;
	color: #fff;
}