@font-face {
  font-family: 'Calibri Regular';
  src: url('../fonts/Calibri/Calibri.eot');
  src: url('../fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri/Calibri.woff') format('woff'), url('../fonts/Calibri/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri Bold';
  src: url('../fonts/Calibri/Calibri-Bold.eot');
  src: url('../fonts/Calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri/Calibri-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rotondac-bold';
  src: url('../fonts/Rotondac/rotondac-bold.otf') format("opentype"), url('../fonts/Rotondac/rotondac-bold.woff') format('woff'), url('../fonts/Rotondac/rotondac-bold.woff2') format('woff');
  font-weight: 700;
}
h1 {
  font-family: 'rotondac-bold';
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: 'Calibri Regular';
  font-family: 'rotondac-bold';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background: #FAF3EF;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #333333;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  outline: none !important;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}
.container--large,
.container {
  width: 100%;
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container--large,
  .container {
    padding: 0px 25px;
  }
}
@media (min-width: 1350px) {
  .container--large,
  .container {
    padding: 0px;
  }
}
.container--large {
  max-width: 1310px;
}
.button {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Calibri Regular';
  font-weight: 700;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(82, 82, 82, 0.1);
  border-radius: 10px;
  height: 70px;
  padding-left: 2em;
  padding-right: 2em;
  display: inline-block;
  transition: 0.5s;
}
.button:hover {
  background-color: #333333;
  color: #fff;
}
.button-light {
  background-color: transparent;
  border: 2px solid rgba(51, 51, 51, 0.8);
  border-radius: 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 22px;
  height: 28px;
  height: 30px;
  white-space: nowrap;
  display: inline-block;
  transition: 0.5s;
}
.button-light:hover {
  color: #fff;
  background-color: #333333;
}
.border-none {
  border: 0px;
}
.button-light.border-none {
  color: rgba(51, 51, 51, 0.5);
}
.button-light.border-none:hover {
  background-color: transparent;
  color: #333333;
}
.button.button--visual {
  background-color: #333333;
  color: #fff;
  line-height: 24px;
  font-family: 'Calibri Regular';
}
.button.button--visual:hover {
  background-color: #000;
}
.button.button--visual span:first-child {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}
svg {
  max-width: 100%;
  height: auto;
}
.title-1 {
  font-size: 78px;
  line-height: 1.15;
}
.title-2,
.big-text {
  font-size: 58px;
  line-height: 1.15;
}
@media (max-width: 767px) {
  .title-2,
  .big-text {
    font-size: 40px;
  }
}
.text-16 {
  font-size: 16px;
  line-height: 20px;
}
.section-title,
.text-40,
.title-3 {
  font-size: 40px;
  line-height: 1.2;
}
.title-4 {
  font-size: 20px;
  line-height: 1.2;
}
.text-14 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.text-20,
.title-20 {
  font-size: 20px;
  line-height: 1.2;
}
.title-label {
  position: relative;
  width: fit-content;
  margin-bottom: 24px;
}
.title-label span {
  position: absolute;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
  top: 4px;
  right: -10px;
  transform: translateX(100%);
}
.text-22 p,
.text-22 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.8px;
}
.text-28 {
  font-size: 28px;
  line-height: 1.14;
}
@media (max-width: 1439px) {
  .text-28 {
    font-size: 24px;
  }
}
.text-30 {
  font-size: 30px;
  line-height: 1.24;
}
.text-white {
  color: #fff;
}
.text-red {
  color: #cf3a3a;
}
.title-group {
  display: flex;
  width: fit-content;
  align-items: center;
}
.title-group .button-light {
  margin-left: 20px;
  position: relative;
  top: 1px;
}
.badge {
  height: 30px;
  font-family: 'Calibri Regular';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  background-color: #333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}
.badge.badge--light {
  background-color: transparent;
  color: #333333;
  border: 2px solid #333333;
}
.badge--small {
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.7px;
}
.badge-azure {
  background-color: #26BABF;
}
.badge-red {
  background-color: rgba(207, 58, 58, 0.8);
}
@keyframes showSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sochial {
  display: flex;
  align-items: center;
}
.sochial a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex !important;
  font-size: 24px;
  color: #fff;
  margin-bottom: 0 !important;
  transition: 0.5s;
  background-color: #FFCF40;
}
.sochial a:hover {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
}
.sochial a + a {
  margin-left: 14px;
}
.sochial a svg {
  margin: auto;
}
.sochial a.icon-fb {
  background-color: #9CB2F9;
}
.sochial a.icon-inst {
  background-color: #F795D0;
}
.footer-content {
  display: flex;
  align-items: center;
  margin-top: 100px;
  font-family: 'Calibri Regular';
}
.footer-content a {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  transition: 0.5s;
}
.footer-content a + a {
  margin-left: 40px;
}
.footer-content a:hover {
  color: #cf3a3a;
  border-color: rgba(207, 58, 58, 0.2);
}
.footer-content p {
  margin-left: auto;
  color: rgba(51, 51, 51, 0.6);
}
.pt-10 {
  padding-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.tr {
  transition: 0.5s;
}
.ma {
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 100vh;
  min-height: 840px;
  max-height: 840px;
  background-color: #FFCF40;
  position: relative;
}
@media (max-width: 1439px) {
  .header {
    min-height: 768px;
  }
}
.header .logo {
  margin-right: 12.5%;
}
@media (max-width: 1439px) {
  .header .logo {
    margin-right: unset;
  }
}
.child-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 1000px;
}
@media (max-width: 1439px) {
  .child-img {
    max-width: 900px;
    width: 65%;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  height: 120px;
}
@media (max-width: 1439px) {
  .header-nav {
    justify-content: space-between;
  }
}
.header-menu {
  margin-right: 4%;
}
.header-menu ul {
  display: flex;
  align-items: center;
}
.header-menu ul li + li {
  margin-left: 8px;
}
.header-menu ul li {
  transition: 0.5s;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}
.header-menu ul li:hth-child(2) {
  border: 1px solid #333333;
}
.header-menu ul li.active {
  border-color: rgba(51, 51, 51, 0.8);
}
.header-menu ul li:hover {
  background-color: #333333;
}
.header-menu ul li:hover a {
  color: #fff;
}
.header-menu ul li:hover .drop-menu a {
  color: #333333;
  display: block;
}
.header-menu ul li:hover .drop-menu a.active {
  color: rgba(51, 51, 51, 0.5);
}
.header-menu ul li:hover .drop-menu a.active .text-16 {
  color: #333333;
}
.header-menu ul li:hover .drop-menu a.active:hover {
  color: rgba(51, 51, 51, 0.5);
}
.header-menu ul li:hover .drop-menu a:hover {
  color: #cf3a3a;
}
.header-menu ul li:hover .drop-menu a:hover .text-16 {
  color: #333333;
}
.header-menu ul li:hover .drop-img {
  position: absolute;
  bottom: 0px;
  right: 15px;
  z-index: 2;
}
.header-menu ul li:hover .drop-img.b-20 {
  bottom: 20px;
}
.header-menu ul li:hover .drop-img--logo {
  width: 160px;
  height: 160px;
  bottom: 20px;
  right: 20px;
}
.header-menu ul a {
  display: inline-block;
  padding: 6px 10px;
  text-transform: uppercase;
}
.drop-menu {
  position: absolute;
  z-index: 5;
  transform: translateY(100%);
  left: 0;
  bottom: 0px;
  display: none;
}
.drop-menu__body {
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 10px;
  width: 500px;
  padding: 15px 18px 15px;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.drop-menu__body a {
  margin-bottom: 8px;
}
.drop-menu__body .title-4 {
  width: fit-content;
  text-transform: none;
  letter-spacing: 0px;
  margin-bottom: 5px;
}
.drop-menu__body .text-16 {
  text-transform: none;
  font-family: 'Calibri Regular';
  letter-spacing: 0px;
}
.badge-inner {
  position: relative;
}
.badge-inner .badge {
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.flex-block {
  display: flex;
}
.drop-menu .drop-menu__bottom {
  margin-top: 20px;
  margin-bottom: 10px;
}
.drop-menu .drop-menu__bottom a {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 0;
  letter-spacing: 0;
}
.flex-block nav {
  max-width: 210px;
  margin-right: 25px;
}
.flex-block nav a {
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0;
}
.flex-block nav a:hover {
  color: #cf3a3a;
}
.header-menu li:hover .drop-menu {
  display: block;
}
.contacts a {
  white-space: nowrap;
}
.contacts:hover a {
  color: #333333;
  opacity: 0.6;
}
.header-buttons {
  margin-left: auto;
}
@media (max-width: 1439px) {
  .header-buttons {
    margin-left: unset;
  }
}
.header-buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.header-buttons a + a {
  margin-left: 30px;
}
.btn-bars,
.btn-eye {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.btn-bars:hover,
.btn-eye:hover {
  background-color: #333333;
}
.btn-bars:hover rect,
.btn-eye:hover rect,
.btn-bars:hover path,
.btn-eye:hover path {
  fill: #fff;
}
.btn-bars {
  width: 60px;
  height: 60px;
}
.header-text {
  margin-top: 75px;
  padding-left: 10px;
  width: 70%;
  max-width: 600px;
}
.header-text .badge,
.header-text .title-1 {
  margin-bottom: 15px;
}
.header-text .text-22 p + p {
  margin-top: 14px;
}
.header .button {
  margin-top: 2em;
}
.description-block {
  margin-top: 130px;
  padding-left: 10px;
}
@media (max-width: 1439px) {
  .description-block {
    margin-top: 15vh;
    padding-left: 0;
  }
}
.description-block span {
  display: inline-block;
}
.description-block span + span {
  margin-left: 0.5em;
}
.description-block .description-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.description-block .description-row p {
  margin-right: 8px;
}
.success-window.hide {
  display: none;
}
.success-window {
  position: absolute;
  background: rgba(51, 51, 51, 0.95);
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.35);
  border-radius: 10px;
  padding: 55px 20px;
  width: 630px;
  right: 60px;
  bottom: 40px;
  color: #fff;
  z-index: 8;
}
.success-window .success-text {
  padding-top: 5px;
}
.success-window .success-text p {
  font-weight: 400;
  font-family: 'Calibri Regular';
}
.success-window .success-text p + p {
  padding-top: 14px;
}
.success-window .success-img {
  position: absolute;
  left: 15px;
  top: -40px;
  z-index: 10;
}
.success-window .close-success {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 8;
  cursor: pointer;
}
.success-window .close-success svg path {
  fill: rgba(255, 255, 255, 0.5);
}
.success-window .close-success:hover svg path {
  fill: rgba(255, 255, 255, 0.9);
}
.video-presentasion {
  padding-top: 100px;
  padding-bottom: 128px;
}
.video-presentasion__frame {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: 0.5s;
}
.video-presentasion__frame .play-button {
  position: absolute;
  width: 198px;
  left: 38px;
  bottom: 40px;
  z-index: 2;
}
.video-presentasion__frame .badge {
  position: absolute;
  top: 35px;
  left: 50px;
  z-index: 2;
}
.video-presentasion__frame:hover {
  border: 2px solid #cf3a3a;
}
.video-presentasion__text {
  position: absolute;
  right: 55px;
  bottom: 60px;
  z-index: 2;
  width: 50%;
  max-width: 570px;
  color: #fff;
}
.benefits .title-2 {
  margin-bottom: 60px;
}
.wrapper {
  max-width: 100%;
}
@media (max-width: 1199px) {
  .wrapper {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
  }
}
.card-info {
  position: relative;
  max-width: 300px;
  min-height: 250px;
  border: 2px solid transparent;
  padding: 15px 30px 30px 20px;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card-info .card-info__icon {
  min-height: 75px;
  max-height: 75px;
  margin-bottom: 10px;
}
.card-info p:first-child {
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}
.card-info p:last-child {
  margin-top: 10px;
  transition: 0.5s;
  opacity: 0.5;
}
.card-info.dark-bg p,
.card-team.dark-bg p,
.card-info.dark-bg h4,
.card-team.dark-bg h4 {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .card-info.dark-bg,
  .card-team.dark-bg {
    margin-bottom: 75px;
  }
}
.card-info.big-icon img {
  position: relative;
  top: -50px;
}
.card-info.green-card {
  background-color: #4FA64D;
}
.card-info.green-card p,
.card-info.green-card h4 {
  color: #FFFFFF;
}
.card-info:hover {
  border: 2px solid #cf3a3a;
}
.card-info:hover p:last-child {
  color: #cf3a3a;
  font-weight: 700;
  opacity: 1;
}
.card-info.green-card:hover p:last-child {
  color: #FFCF40;
}
.card-label {
  position: absolute;
  left: 0;
  top: -45px;
  padding-right: 10px;
  padding-left: 10px;
  height: 30px;
  background: #26BABF;
  opacity: 0.8;
  box-shadow: 0px 10px 10px rgba(80, 197, 201, 0.3);
  border-radius: 5px;
  font-family: 'Calibri Regular';
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.card-info__text p {
  font-family: 'Calibri Regular';
}
.benefit-description {
  background-color: rgba(255, 207, 64, 0.2);
  padding: 60px 75px 90px 75px;
}
.benefit-description .title-group {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.benefit-description .text-30 {
  font-family: 'Calibri Bold';
  margin-bottom: 40px;
}
@media (max-width: 1439px) {
  .benefit-description .text-30 {
    font-size: 26px;
  }
}
.benefit-description .text-block--title .title-1 {
  color: #4FA64D;
}
.benefit-description .text-block--title p {
  font-size: 20px;
}
.benefit-description .text-block {
  font-family: 'Calibri Regular';
  font-size: 20px;
  position: relative;
  margin-bottom: 40px;
}
.benefit-description .text-block .text-28 {
  font-family: 'rotondac-bold';
}
.benefit-description .text-block p + p {
  margin-top: 20px;
}
.benefit-description .text-block .card-label {
  position: absolute;
  top: 114px;
  left: 232px;
}
.benefit-description .text-block--white {
  background-color: #FAF3EF;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 10px;
  padding: 16px 30px 30px 20px;
  margin-left: -18px;
}
.benefit-description .logo-block {
  position: relative;
}
.benefit-description .logo-block .text-block {
  top: 38px;
}
.benefit-description .logo-block .brand-logo {
  position: absolute;
  bottom: -20px;
  right: 60px;
  font-size: 150px;
  color: rgba(220, 147, 124, 0.2);
  font-family: 'rotondac-bold';
  z-index: -1;
}
.pl-50 {
  padding-left: 50px;
}
.timetable {
  padding-top: 100px;
  background-color: #fff;
  padding-bottom: 140px;
}
.timetable-top {
  display: flex;
  justify-content: space-between;
  width: 91.5%;
  max-width: 1180px;
  margin-bottom: 56px;
}
.age-nav {
  display: inline-flex;
  background: #F3F3F3;
  border-radius: 10px;
  padding: 4px;
}
.age-nav button {
  cursor: pointer;
  background-color: transparent;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.age-nav button:hover span {
  color: #cf3a3a;
}
.age-nav .age-text {
  display: none;
}
.age-nav button.active {
  background-color: #FFCF40;
}
.age-nav button.active .age-text {
  display: block;
  padding-left: 5px;
}
.timetable-grid {
  max-width: 1180px;
  width: 91.5%;
}
.timetable-grid .table-cell span {
  font-size: 16px;
  line-height: 20px;
}
.timetable-grid .table-cell {
  width: 18.6%;
  max-width: 220px;
  padding-left: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #FFF3D1;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
}
.timetable-grid .table-cell.disable {
  opacity: 0.5;
}
.timetable-grid .table-cell:hover {
  border: 1px solid #cf3a3a;
}
.timetable-grid .table-cell:hover .info-icon path {
  fill: #cf3a3a;
}
.timetable-grid .table-cell.active {
  background-color: transparent;
  border-color: #333333;
}
.timetable-grid .table-cell.active .info-icon {
  opacity: 0;
}
.timetable-grid .table-cell .info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.timetable-grid .table-cell .cell-img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 10px;
}
.table-row-group.table-row-group--day {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin-bottom: 18px;
}
.table-row-group.table-row-group--day .table-cell {
  background-color: #fff;
  width: 18.6%;
  max-width: 220px;
}
.table-row-group.table-row-group--day .table-cell span {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.1em;
}
.timetable-block {
  display: flex;
  align-items: flex-start;
}
.timetable-block .table-col {
  writing-mode: vertical-rl;
  margin-left: 18px;
}
.timetable-block .table-col p {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.01em;
}
.timetable-block.timetable-block--sleep {
  margin-bottom: 10px;
}
.timetable-block.timetable-block--sleep .table-cell {
  background-color: #FAF3EF;
  margin-bottom: 0;
}
.timetable-block.timetable-block--sleep .table-cell span {
  font-size: 28px;
  line-height: 1.14;
}
@media (max-width: 1439px) {
  .timetable-block.timetable-block--sleep .table-cell span {
    font-size: 24px;
  }
}
.timetable-block.timetable-block--sleep .table-row-group {
  justify-content: flex-start;
  background-color: #FAF3EF;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.timetable-block.timetable-block--sleep .table-row-group .cell-img {
  position: absolute;
  bottom: -12px;
  right: 80px;
}
.timetable-block.timetable-block--green .table-cell {
  background-color: #E4EDE7;
}
.table-row-group {
  display: flex;
  justify-content: space-between;
}
.timetable-body,
.timetable-article {
  display: none;
}
.timetable-body.active,
.timetable-article.active {
  display: block;
}
.timetable-article {
  overflow: hidden;
  background: #F9F5E6;
  border-radius: 20px;
  position: relative;
  padding: 30px 40px;
  padding-bottom: 60px;
}
.timetable-article .close-desk {
  position: absolute;
  top: 30px;
  right: 40px;
}
.timetable-article .title-3 {
  margin-bottom: 30px;
}
.timetable-article .round-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.timetable-article .photo-block .title-4 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.timetable-article .photo-block p {
  color: rgba(51, 51, 51, 0.6);
}
.timetable-article .text-block .bold-text {
  margin-bottom: 20px;
}
.timetable-article .text-block .text-20 {
  font-family: 'Calibri Regular';
  font-weight: 400;
}
.timetable-article .text-block .text-20 p + p {
  margin-top: 20px;
}
.desk-content + .desk-content {
  margin-top: 30px;
}
.desk-result ul {
  padding-top: 10px;
}
.desk-result li {
  font-size: 20px;
  line-height: 1.7;
  font-family: 'Calibri Regular';
  font-weight: 400;
}
.timetable-article {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.timetable-article:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  top: 0;
  transform: translateY(-50%) rotate(45deg);
  left: 320px;
}
.timetable-article .additional-text {
  position: relative;
}
.timetable-article .additional-text .lesson-icon {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  left: 50px;
}
.close-desk {
  border: 1px solid #333333;
  color: #333333;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.close-desk:hover {
  color: rgba(51, 51, 51, 0.5);
  border-color: rgba(51, 51, 51, 0.5);
}
.timetable-article_1.timetable-article:after {
  left: 90px;
}
.timetable-article_2.timetable-article:after {
  left: 340px;
}
.timetable-article_3.timetable-article:after {
  left: 570px;
}
.timetable-article_4.timetable-article:after {
  left: 820px;
}
.timetable-article_5.timetable-article:after {
  left: 1050px;
}
.section-quote {
  background-color: transparent;
  position: relative;
}
.section-quote .decor-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.section-quote .section-quote__text {
  position: relative;
  z-index: 2;
}
.section-quote .section-quote__text span {
  color: rgba(51, 51, 51, 0.6);
}
.section-quote .section-quote__author {
  display: flex;
  margin-top: 30px;
}
.section-quote .quote__author-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
}
.section-quote .quote__author-info p span {
  display: block;
}
.section-quote .quote__author-info p:last-child {
  color: rgba(51, 51, 51, 0.6);
  margin-top: 10px;
}
.timetable-footer.section-quote {
  margin-top: 140px;
}
.timetable-footer.section-quote .decor-img {
  width: 310px;
}
.timetable-footer.section-quote .decor-img path {
  fill: #FFF3D1;
}
.team {
  background-color: #F9F5E6;
  padding-top: 80px;
  padding-bottom: 160px;
}
.team .title-2 {
  margin-bottom: 60px;
}
.card-team {
  position: relative;
  max-width: 300px;
  min-height: 380px;
  border: 2px solid transparent;
  padding: 20px 20px 30px 20px;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card-team .card-team__img {
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
}
.card-team .card-info__text p {
  font-style: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
}
.dark-bg {
  background-color: #333333;
}
.card-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-team.dark-bg .card-icon {
  width: 80px;
  height: 80px;
  background-color: #FFCF40;
  border-radius: 50%;
  top: -44px;
  right: -20px;
  z-index: 2;
}
@media (max-width: 767px) {
  .card-team.dark-bg .card-icon {
    right: -10px;
  }
}
.card-team.card-team--cross .card-icon {
  right: 20px;
  bottom: 30px;
}
.card-team.card-team--bg {
  background-image: url("../img/team/bcg.png");
  background-size: contain;
  background-position: -28px 57px;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .card-team.card-team--label {
    margin-top: 45px;
  }
}
.quote-block {
  display: flex;
  position: relative;
  width: 1280px;
  height: 492px;
  font-size: 10px;
  padding: 80px 80px 90px 70px;
  background: #ECCDCE;
  border-radius: 20px;
}
.quote-block .quote-author {
  margin-top: 30px;
}
.quote-block .quote-author span {
  display: block;
  font-size: 20px;
  line-height: 1.2;
}
.quote-block .quote-author span:last-child {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
  margin-top: 6px;
}
.brand-logo {
  position: absolute;
  right: 40px;
  bottom: 50px;
  z-index: 2;
}
.quote-block__img {
  overflow: hidden;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 50px;
}
.quote-block__text {
  position: relative;
}
.quote-block__text .quote-decor {
  position: absolute;
  top: -20px;
  left: -8px;
  transform: translateY(-100%);
}
.team-description {
  background: #E4EDE7;
  border-radius: 20px;
  padding: 30px 50px 60px 40px;
}
.team-description .title-group__position {
  margin-bottom: 30px;
}
.team-description .text-22 {
  font-family: 'Calibri Regular';
  font-weight: 700;
}
.team-description .title-group {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.team-description .text-block {
  font-family: 'Calibri Regular';
  margin-top: 20px;
}
.team-description .text-block .title-4 {
  font-weight: 700;
}
.team-description .team-description__img {
  overflow: hidden;
  border-radius: 50%;
  height: 205px;
  width: 205px;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-review {
  background: #f9f5e6;
  padding-top: 80px;
  padding-bottom: 250px;
  font-size: 16px;
}
.video-review .title-2 {
  max-width: 400px;
  margin-bottom: 1.15em;
}
.video-review .video-review__wrapper {
  margin-top: -140px;
}
.video-review .video-review__item {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.video-review .video-review__item + .video-review__item {
  margin-top: 50px;
}
.video-review .video-review__text {
  width: 38%;
  max-width: 470px;
  padding-bottom: 30px;
}
@media (max-width: 1359px) {
  .video-review .video-review__text {
    padding-bottom: 0;
  }
}
.video-review .text-paragraf p {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.14;
}
.video-review .text-paragraf p + p {
  margin-top: 14px;
}
.video-review .quote-author {
  margin-top: 20px;
}
.video-review .quote-author span {
  display: block;
  font-size: 20px;
  line-height: 1.2;
}
.video-review .quote-author span:last-child {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
  margin-top: 6px;
}
.video-review .video-review__frame {
  width: 60%;
  max-width: 770px;
  filter: drop-shadow(0px 15px 30px rgba(82, 82, 82, 0.15));
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.video-review .video-review__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.play-button {
  position: absolute;
  bottom: 40px;
  left: 60px;
  transition: 0.5s;
  width: 112px;
}
.play-button:hover {
  opacity: 0.6;
}
.play-button span {
  position: absolute;
  top: 44%;
  left: 39%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.play-button--big span {
  font-size: 28px;
}
.feedback {
  background-color: #FFCF40;
  padding-top: 70px;
  position: relative;
  height: 100vh;
  min-height: 840px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@media (max-width: 1439px) {
  .feedback {
    min-height: 768px;
  }
}
.feedback .child-img {
  width: 55%;
  max-width: 990px;
}
.feedback.active {
  display: block;
}
.feedback-content {
  position: relative;
  overflow: hidden;
  height: 82vh;
  width: 65%;
  max-width: 850px;
  max-height: 696px;
  background-color: #333333;
  color: #fff;
  box-shadow: 0px 15px 30px rgba(153, 124, 38, 0.5);
  border-radius: 20px;
  padding: 40px 50px;
}
.feedback-content h1 {
  max-width: 420px;
  margin-bottom: 16px;
}
.feedback-content .feedback-info {
  font-size: 16px;
  max-width: 520px;
}
.feedback-content .feedback-info p:first-child {
  line-height: 18px;
}
.feedback-content .feedback-info p:last-child {
  font-family: 'Calibri Regular';
  line-height: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.feedback-form {
  max-width: 550px;
  padding-top: 30px;
}
.form-group + .form-group {
  margin-top: 30px;
}
.form-group {
  position: relative;
}
.form-group input {
  display: block;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 40px;
  width: 100%;
  border: none;
  font-size: 20px;
  line-height: 1.2;
}
.form-group input.error {
  background-color: #FFD9D9;
}
.form-group .badge {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  background-color: #E4EDE7;
  color: rgba(51, 51, 51, 0.9);
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 15px;
  transition: 0.5s;
}
.form-group .badge.hide {
  opacity: 0;
}
.form-group .fake-placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0.5;
  font-size: 20px;
  z-index: 5;
  color: #333333;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.form-group .fake-placeholder.active {
  opacity: 1;
}
.form-group .fake-placeholder2 {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  transition: 0.5s;
}
.form-group .fake-placeholder2.active {
  opacity: 1;
}
.form-button {
  margin-top: 40px;
}
.form-button input {
  height: 70px;
  width: 300px;
  background-color: #fff;
  background-color: #FFE9C8;
  box-shadow: 0px 10px 10px rgba(82, 82, 82, 0.1);
  border-radius: 10px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.form-button input:hover {
  background-color: #FFE9C8;
  opacity: 0.6;
}
.agree-info {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 20px;
}
.agree-info p {
  font-family: 'Calibri Regular';
  font-weight: 400;
  padding-top: 20px;
}
.agree-info a {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Calibri Regular';
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.agree-info a:hover {
  color: #FFCF40 !important;
  border-bottom: 1px solid #FFCF40;
}
.agree-info .nospam {
  position: relative;
  padding-top: 0;
  font-size: 16px;
  margin-top: 33px !important;
  font-weight: 700;
  font-family: 'Calibri Regular';
  letter-spacing: 1.3px;
}
.agree-info .nospam:after {
  content: '';
  position: absolute;
  right: 3px;
  top: -3px;
  width: 14px;
  height: 18px;
  background-image: url(../img/icons/nospam.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.feedback-content .brand-logo {
  position: absolute;
  top: -20px;
  right: -11%;
  width: 460px;
  height: 460px;
  z-index: 3;
}
.close-modal {
  position: absolute;
  top: 33px;
  right: 65px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.close-modal:hover {
  background-color: #333333;
}
.close-modal:hover svg path {
  fill: #fff;
}
.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
}
.form-block {
  position: absolute;
  left: 0;
  bottom: 0px;
  transform: translateY(100%);
  z-index: 10;
}
.form-body {
  margin-top: 10px;
  padding: 20px 26px 30px 20px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.35);
  border-radius: 10px;
}
.hideOrderCallForm {
  position: absolute;
  right: -6px;
  top: -42px;
}
.orderCall-form--block {
  width: 100%;
  max-width: 300px;
  display: none;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.orderCall-form--block.active {
  display: block;
}
.orderCall-form--block .form-group + .form-group {
  margin-top: 14px;
}
.orderCall-form--block .form-group input {
  font-size: 16px;
  height: 46px;
  border-radius: 5px;
}
.orderCall-form--block .agree-info p {
  font-size: 14px;
  line-height: 17px;
}
.orderCall-form--block .agree-info p:first-child {
  padding-top: 14px;
}
.orderCall-form--block:hover .agree-info p a {
  color: rgba(255, 255, 255, 0.8);
}
.orderCall-form .form-button {
  margin-top: 20px;
}
.orderCall-form .form-button * {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
.orderCall-form .text-16 {
  color: #fff;
  margin-bottom: 14px;
}
.success-orderCallForm {
  background-color: #333333;
  width: 100%;
  max-width: 300px;
  padding: 15px 30px 30px 20px;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: translateY(100%);
}
.scroll-wrapper {
  padding-top: 40px;
}
.educational-complex {
  background: #F9F5E6;
  padding-top: 60px;
  position: relative;
  padding-bottom: 54px;
}
.educational-complex .bg-img {
  position: absolute;
  top: 0;
  right: 45px;
  z-index: 1;
}
.educational-complex .title-group {
  margin-bottom: 13px;
}
.educational-complex .button--visual {
  margin-top: 60px;
}
#educational-complex--modal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
#educational-complex--modal.active {
  display: block;
}
.educational-menu {
  margin-bottom: 20px;
}
.educational-menu a:hover {
  color: #cf3a3a;
}
.educational-menu a {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.5s;
}
.educational-menu a + a {
  margin-left: 30px;
}
.educational-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.educational-block + .educational-block {
  margin-top: 30px;
}
.educational-banner,
.educational-cards {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  width: 74.4%;
}
.educational-column {
  max-width: 300px;
  width: 23.25%;
  padding-bottom: 55px;
}
.sidebar-block .contacts:hover a {
  opacity: 1;
}
.sidebar-block .contacts a:hover {
  opacity: 0.6;
}
.sidebar-block .contacts button {
  margin-top: 12px;
}
.sidebar-block .text-28 + .text-28 {
  margin-top: 42px;
}
.sidebar-block .text-28 p + p {
  margin-top: 16px;
}
.educational-card {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 20px;
  width: 465px;
  min-height: 460px;
  padding: 28px 30px 35px;
}
.educational-card .drop-img--logo {
  width: 160px;
  height: 160px;
  bottom: 20px;
  right: 20px;
}
.educational-card a {
  margin-bottom: 8px;
}
.educational-card .title-4 {
  width: fit-content;
  text-transform: none;
  letter-spacing: 0px;
  margin-bottom: 5px;
}
.educational-card .text-16 {
  text-transform: none;
  font-family: 'Calibri Regular';
  letter-spacing: 0px;
}
.educational-card__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.educational-card__head .sochial {
  margin-top: -15px;
}
.educational-card a {
  color: #333333;
  display: block;
}
.educational-card a.active {
  color: rgba(51, 51, 51, 0.5);
}
.educational-card a.active .text-16 {
  color: #333333;
}
.educational-card a.active:hover {
  color: rgba(51, 51, 51, 0.5);
}
.educational-card a:hover {
  color: #cf3a3a;
}
.educational-card a:hover .text-16 {
  color: #333333;
}
.educational-card__body nav a + a {
  margin-top: 30px;
}
.sochial.sochial--abs {
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.educational-banner {
  border-radius: 20px;
  overflow: hidden;
}
.educational-banner .img-layout {
  position: absolute;
  left: 16px;
  bottom: 20px;
  width: 430px;
  height: 222px;
  padding: 10px 15px;
  background-color: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(3px);
  z-index: 3;
  color: #fff;
  border-radius: 10px;
}
.educational-banner .img-layout p {
  font-family: 'Calibri Regular';
  padding-top: 4px;
  padding-bottom: 16px;
}
.educational-banner .img-layout .button-light {
  border-color: #fff;
  color: #fff;
}
.educational-column__text {
  margin-top: 20px;
}
.educational-column__text .text-16 {
  color: rgba(51, 51, 51, 0.6);
  margin-top: 10px;
  margin-bottom: 30px;
}
.price {
  padding: 100px 75px 160px 45px;
  background-color: #FFFFFF;
}
.price .heading-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 19px;
  margin-bottom: 58px;
}
.price .heading-price__info {
  display: flex;
}
.price .heading-price__info span {
  font-size: 20;
}
.price .heading-price__info p {
  margin-left: 40px;
}
.price .card-price {
  width: 410px;
  height: 350px;
  background: #F9F5E6;
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.35);
  border-radius: 15px;
  padding: 20px 75px 50px 30px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid transparent;
}
.price .card-price:hover {
  border: 2px solid #4FA64D;
}
.price .card-price .card-label {
  left: 16px;
}
.price .card-price .text-head {
  margin-bottom: 43px;
}
.price .card-price .big-text {
  white-space: nowrap;
}
.price .card-price .text-28 {
  color: rgba(51, 51, 51, 0.6);
}
.price .btn {
  font-family: 'Calibri Regular';
  font-weight: 700;
  text-align: center;
  height: 50px;
  font-size: 20px;
  background-color: #FFCF40;
  box-shadow: 0px 10px 10px rgba(82, 82, 82, 0.1);
  border-radius: 10px;
  padding-right: 82px;
  padding-left: 82px;
  margin-top: 10px;
}
.price .btn--light {
  background-color: transparent;
  color: #333333;
  border: 2px solid #333333;
}
.heading-info {
  margin-bottom: 40px;
}
.heading-info .text-desription p {
  font-family: 'Calibri Regular';
  font-size: 16px;
}
span.rub {
  font-family: 'Calibri Regular';
  margin-left: 14px;
}
.dark-bg {
  background-color: #333333;
}
.logo-block .brand-logo {
  position: absolute;
  bottom: -20px;
  right: 60px;
  font-size: 150px;
  color: rgba(220, 147, 124, 0.2);
  font-family: 'rotondac-bold';
  z-index: -1;
}
.wrapper .text-block {
  position: relative;
  margin-bottom: 40px;
}
.wrapper .text-block .text-block__icon {
  position: absolute;
  top: -78px;
}
.wrapper .text-block .text-20 {
  margin-bottom: 6px;
}
.wrapper .text-block__border {
  position: relative;
}
.wrapper .text-block__border:after {
  content: "";
  width: 6px;
  border-radius: 3px;
  background-color: #26BABF;
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
}
.wrapper .text-block--white {
  background-color: #E4EDE7;
  border-radius: 10px;
  padding: 12px 11px 15px 14px;
  margin-left: -18px;
}
.text-desription p {
  font-family: 'Calibri Regular';
  margin-bottom: 6px;
}
.text-desription span {
  font-size: 14px;
}
.logo-block {
  position: absolute;
}
.logo-block .brand-logo span {
  position: absolute;
  bottom: -20px;
  right: 60px;
  font-size: 150px;
  color: rgba(220, 147, 124, 0.2);
  font-family: 'rotondac-bold';
  z-index: -1;
}
.map-modal {
  padding-top: 50px;
  background-color: #FFCF40;
  padding-bottom: 75px;
}
.map-modal .nav-tabs {
  border-bottom: 0px;
}
.map-content__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-wrapper {
  box-shadow: 0px 15px 30px rgba(82, 82, 82, 0.15);
  border-radius: 20px;
  width: 74.5%;
  height: 100%;
  overflow: hidden;
}
.map-text {
  width: 23.25%;
}
.map-content {
  position: relative;
}
.map-content .bg-logo {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: translateX(100%);
}
.map-content-title {
  margin-bottom: 40px;
}
.map-content-title .section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
.objects__tabs {
  position: relative;
}
.objects__tabs #schools-nav,
.objects__tabs #kindergartens-nav {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  background: transparent;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  color: #333333;
  transition: 0.5s;
}
.objects__tabs #schools-nav.active,
.objects__tabs #kindergartens-nav.active {
  color: #fff;
  background-color: #333333;
}
.objects__tabs #schools-nav:hover,
.objects__tabs #kindergartens-nav:hover {
  opacity: 0.8;
}
.objects__tabs #kindergartens-nav {
  margin-left: 10px;
}
#nav-tab {
  position: absolute;
  left: 0;
  top: 15px;
}
.objects-menu {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 30px;
  margin-left: 260px;
}
.objects-menu a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  transition: 0.5s;
}
.objects-menu a:hover {
  color: rgba(51, 51, 51, 0.5);
}
.objects-menu a.active {
  background-color: #333333;
  color: #fff;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.btn-back {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  width: 60px;
  height: 60px;
  display: flex;
  position: fixed;
  align-items: center;
  top: 30px;
  right: 50px;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-back .btn-icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-back .btn-text {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}
.btn-back:hover {
  width: 242px;
  background-color: #fff;
  padding: 4px 6px;
  transition: 0.5s;
}
.btn-back:hover .btn-text {
  width: 140px;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn-back:hover .btn-icon {
  background-color: #FFECB8;
  margin-right: 14px;
  height: 52px;
  width: 52px;
  transition: 0.5s;
}
#mogal-in-map,
#map-all-objects {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
  -webkit-animation-name: showSlow;
  animation-name: showSlow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
#map-all-objects {
  padding-top: 30px;
}
#mogal-in-map.active,
#map-all-objects.active {
  display: block;
}
#show-all-objects {
  cursor: pointer;
}
