extends ../layouts/layout.pug

block content
	//include ../sections/_header.pug
	//include ../sections/_ui-kit.pug
	include ../sections/_benefits.pug
	include ../sections/_team.pug
	//include ../sections/_video-rev.pug
	//include ../sections/_video-presentation.pug

block variables
	-var title = "Page";
