extends ../layouts/layout.pug

block content

	include ../sections/_header.pug
	//- include ../sections/_video-presentation.pug
	include ../sections/_benefits.pug
	include ../sections/_timetable.pug
	include ../sections/_team.pug
	include ../sections/_galery.pug
	include ../sections/_video-rev.pug
	include ../sections/_price.pug
	include ../sections/_fedback-section.pug
	include ../sections/_mySadic.pug
	include ../sections/_educ-section.pug
	include ../sections/_modal.pug
	include ../sections/_educational-complex.pug
	include ../sections/_map-modal.pug

block variables
	-var title = "Page";
