mixin card-info(img,title,text1,text2)
    .card-info
        .card-info__icon
            img(src="img/emoji/"+img+".png" alt='emoji' width='55')
        .card-info__text
            h4.title-4 #{title}
            p !{text1}
            p !{text2}